/*! ----------------------------------------------------------------------------
    Filename:       _build-dev.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- */

@if ($grunt--build == 'dev') {
    body {
        // background-color: #333;
    }

    .page-container-wrapper {
        // background: #f5f5f5;
    }

    .products-grid > li:nth-child(3) {
        .product-name {
            // height: 1em * (20 / 16) * 4;
        }
    }

    .nav--primary {
        .parent {
            &.nav-1 {
                .submenu {
                    @include desktop {
                        // display: table;
                    }
                }
            }
        }
    }
}
