/*! ----------------------------------------------------------------------------
    Filename:       _build-release.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- */

@if ($grunt--build == 'dev') {
} @else {
    // Styles for release css
}