/*! ----------------------------------------------------------------------------
    Filename:       email-non-inline.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- */

@import 'grunt';

@import '../../blugento/scss/variable';
@import '../../blugento/scss/variable-image';
@import '../../blugento/scss/variable-layout';

@import 'function/browser';

@import 'config';

@import 'mixin/font';
@import 'mixin/grid';
@import 'mixin/icon';
@import 'mixin/responsive';
@import 'mixin/util';

//  ----------------------------------------------------------------------------

@import 'core/email-non-inline';
