<?xml version="1.0"?>
<config>
    <modules>
        <Blugento_Cloudfront>
            <version>1.0.0</version>
        </Blugento_Cloudfront>
    </modules>
    <global>
        <blocks>
            <blugento_cloudfront>
                <class>Blugento_Cloudfront_Block</class>
            </blugento_cloudfront>
            <blugento_cloudfront_adminhtml>
                <class>Blugento_Cloudfront_Block_Adminhtml</class>
            </blugento_cloudfront_adminhtml>
        </blocks>
        <models>
            <blugento_cloudfront>
                <class>Blugento_Cloudfront_Model</class>
            </blugento_cloudfront>
        </models>
        <helpers>
            <blugento_cloudfront>
                <class>Blugento_Cloudfront_Helper</class>
            </blugento_cloudfront>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <blugento_cloudfront translate="title" module="blugento_cloudfront">
                                            <title>Blugento CloudFront</title>
                                        </blugento_cloudfront>
                                    </children>
                                </config>
                            </children>
                        </system>
                   </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <blugento_cloudfront>
                    <file>blugento_cloudfront.xml</file>
                </blugento_cloudfront>
            </updates>
        </layout>
        <translate>
            <modules>
                <Blugento_Cloudfront>
                    <files>
                        <default>Blugento_Cloudfront.csv</default>
                    </files>
                </Blugento_Cloudfront>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Blugento_Cloudfront before="Mage_Adminhtml">Blugento_Cloudfront_Adminhtml</Blugento_Cloudfront>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
