<?xml version="1.0"?>
<config>
    <modules>
        <Blugento_CategorySecondDescription>
            <version>1.0.0</version>
        </Blugento_CategorySecondDescription>
    </modules>
    <frontend>
        <layout>
            <updates>
                <blugento_categoryseconddescription module="Blugento_CategorySecondDescription">
                    <file>blugento_categoryseconddescription.xml</file>
                </blugento_categoryseconddescription>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Blugento_CategorySecondDescription>
                    <files>
                        <default>Blugento_CategorySecondDescription.csv</default>
                    </files>
                </Blugento_CategorySecondDescription>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <blocks>
            <blugento_categoryseconddescription>
                <class>Blugento_CategorySecondDescription_Block</class>
            </blugento_categoryseconddescription>
        </blocks>
        <helpers>
            <blugento_categoryseconddescription>
                <class>Blugento_CategorySecondDescription_Helper</class>
            </blugento_categoryseconddescription>
        </helpers>
        <resources>
            <blugento_categoryseconddescription_setup>
                <setup>
                    <module>Blugento_CategorySecondDescription</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </blugento_categoryseconddescription_setup>
        </resources>
    </global>
</config>