//  ----------------------------------------------------------------------------
//  Filename:       config/design.scss
//  Version:        1.0
//  Description:    Colors and Images Variables
//  ----------------------------------------------------------------------------

//  ----------------------------------------------------------------------------
//  Colors
//  ----------------------------------------------------------------------------

$color--primary:        #000 !default;
$color--secondary:      #fff !default;
$color--third:          #0076bf !default;
$color--fourth:         #f68933 !default;
$color--fifth:          #f9dcb0 !default;
$color--transparent:    rgba(0, 0, 0, 0) !default;

$palette:               () !default;

//  ----------------------------------------------------------------------------
//  Icons
//  ----------------------------------------------------------------------------

$icon--arrow-down--a1:          image('icon--arrow-down--a1.svg') !default;
