/*! ----------------------------------------------------------------------------
    Filename:       component/_box.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- */

.box {
    .box-title {
    }

    .box-content {
        margin-top: 10px;
    }
}
