/*! ----------------------------------------------------------------------------
    Filename:       component/_cvv.scss
    Version:        1.0
    Description:    CVV Security Code
    ------------------------------------------------------------------------- */

.cvv-what-is-this {
    margin-left: 10px;
    line-height: 45px;
}
