/*! ----------------------------------------------------------------------------
    Filename:       component/_form.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- */

//  ----------------------------------------------------------------------------
//  Form elements
//  ----------------------------------------------------------------------------

@import '../mixin/_util.scss';

.fieldset {
    @include cf;

    > h2,
    > p {
        margin-bottom: 10px;
    }
}

.input-box {
    @include cf;
}

.button + .input-box {
    display: flex;
    flex-wrap: wrap;

    .input-text {
        width: 100%;
        border-right: 0;

        @include mobile {
            font-size: 16px;
        }
    }
}

%button,
a.button,
label.button,
button.button,
.no-rating a {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    border: 0;
    font-weight: 700;
    text-transform: uppercase;
    background-color: $button_background-color;
    color: $button_color;

    &:hover {
        text-decoration: none;
    }
}

.page-main {
    button.button,
    .button-review {
        font-weight: $button-action_font-weight;
        font-size: $button-action_font-size;
        font-family: $button-action_font-family;
        text-transform: $button-action_text-transform;
        background-color: $button_background-color;
        color: $button_color;
        
        &:hover {
            background-color: $button-action_background-color;
            color: $button-action_color;
        }
    }
}

%button--block,
a.button--block,
label.button--block,
button.button--block {
    display: block;
    text-align: center;
}

input.input-text,
textarea.input-text {
    width: 300px;
    padding: 3px 9px;
}

input[type='checkbox'],
input[type='radio'] {
    display: none;

    + label,
    + span.label > label {
        display: inline-block;
        cursor: pointer;
        margin-left: 0;
        padding-left: 30px;
        line-height: 16px;
        background-repeat: no-repeat;

        + a {
            display: inline-block;
            line-height: 16px;
            vertical-align: middle;
        }
    }
}

input[type='checkbox'] {
    + label,
    + span.label > label {
        background-image: $icon--checkbox--b1;
    }

    &:checked + label,
    &:checked + span.label > label {
        background-image: $icon--checkbox--b1--checked;
    }
}

input[type='radio'] {
    + label,
    + span.label > label {
        background-image: $icon--radio--a1;
    }

    &:checked + label,
    &:checked + span.label > label {
        background-image: $icon--radio--a1--checked;
    }
}

//  ----------------------------------------------------------------------------
//  Form validation
//  ----------------------------------------------------------------------------

.validation-advice {
    clear: both;
    margin-top: 5px;
    font-style: italic;
    text-align: left;
    color: $validation-advice_color;
}

p.required {
    text-align: right;
    color: $required_color;
}

label.required {
    position: relative;

    em {
        position: absolute;
        top: -4px;
        right: -10px;
        float: right;
        color: $required_color;
        font: normal 15px/19px Georgia;
    }
}

.button-counter {
    float: left;
    margin-right: 20px;
    background-color: color('e');

    span {
        cursor: pointer;
        display: block;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        &.plus {
            background-image: $icon--plus--a1;
        }

        &.minus {
            background-image: $icon--minus--a1;
        }
    }
}

@if ($layout--checkout_cart_add_to_cart_quantity_buttons_status == 1) {
    .cart-table {
        .tax-flag {
            display: block;
        }

        .button-counter {
            margin-right: 0;

            span {
                width: 23px;
                height: 23px;
            }
        }

        .qty {
            float: left;
        }
    }
}

@if ($layout--input-text_layout == 6) {
    .input-style {
        position: relative;

        label {
            pointer-events: none;
            transition: all .4s ease;
            position: absolute;
            top: 9px;
            left: 0;
            padding-left: 9px;
            color: color('j');
        }

        &.not-empty label,
        .input-text:focus ~ label,
        &.not-empty select ~ label {
            top: 0;
            transform: translateY(-100%);
            color: color('e');
        }
    }
}
