/*! ----------------------------------------------------------------------------
    Filename:       component/_nav6.scss
    Version:        1.0
    Description:    Left Navigation - Push Down
    ------------------------------------------------------------------------- */

@import '../mixin/_util.scss';

@if ($layout--nav_layout == 6) {

    // Variables for nav 2
    $nav--primary_border-top-style:                 none !default;
    $nav--primary_border-top-width:                 3px !default;
    $nav--primary_border-top-color:                 color('b') !default;
    $nav--primary_border-bottom-style:              none !default;
    $nav--primary_border-bottom-width:              3px !default;
    $nav--primary_border-bottom-color:              color('b');
    $nav--primary_border-right-style:               none !default;
    $nav--primary_border-right-width:               3px !default;
    $nav--primary_border-right-color:               color('b') !default;
    $nav--primary_border-left-style:                none !default;
    $nav--primary_border-left-width:                3px !default;
    $nav--primary_border-left-color:                color('b') !default;

    $nav--primary__level0-list_padding-global:      15px !default;

    $nav--primary__level0-link_padding-top:         10px !default;
    $nav--primary__level0-link_padding-right:       15px !default;
    $nav--primary__level0-link_font-style:          inherit !default;
    $nav--primary__level0-link_font-weight:         900 !default;
    $nav--primary__level0-link_font-size:           14px !default;
    $nav--primary__level0-link_line-height:         (16 / 14) !default;
    $nav--primary__level0-link_font-family:         $font-family-base !default;
    $nav--primary__level0-link_text-transform:      uppercase !default;
    $nav--primary__level0-link_color:               color('b') !default;
    $nav--primary__level0-link--hover_color:        color('g') !default;

    $nav--primary__level1-link_padding-top:         5px !default;
    $nav--primary__level1-link_padding-right:       0 !default;
    $nav--primary__level1-link_font-weight:         700 !default;
    $nav--primary__level1-link_font-size:           12px !default;
    $nav--primary__level1-link_line-height:         (14 / 12) !default;
    $nav--primary__level1-link_font-family:         $font-family-base !default;
    $nav--primary__level1-link_text-transform:      uppercase !default;
    $nav--primary__level1-link_color:               false !default;
    $nav--primary__level1-link--hover_color:        false !default;

    $nav--primary__level2_background-color:         false !default;
    $nav--primary__level2-link_padding-top:         false !default;
    $nav--primary__level2-link_padding-right:       false !default;
    $nav--primary__level2-link_font-weight:         false !default;
    $nav--primary__level2-link_font-size:           false !default;
    $nav--primary__level2-link_line-height:         false !default;
    $nav--primary__level2-link_font-family:         $font-family-base !default;
    $nav--primary__level2-link_text-transform:      false !default;
    $nav--primary__level2-link_color:               false !default;
    $nav--primary__level2-link--hover_color:        false !default;

    .nav--primary__item,
    %nav--primary__item {
    }

    .nav--primary-button,
    %nav--primary-button {
        display: block;

        @if ($nav--primary__level0-link_padding-top) {
            padding-top: $nav--primary__level0-link_padding-top;
            padding-bottom: $nav--primary__level0-link_padding-top;
        }

        @if ($nav--primary__level0-link_padding-right) {
            padding-right: $nav--primary__level0-link_padding-right;
            padding-left: $nav--primary__level0-link_padding-right;
        }

        @if ($nav--primary__level0-link_font-style) {
            font-style: $nav--primary__level0-link_font-style;
        }

        @if ($nav--primary__level0-link_font-weight) {
            font-weight: $nav--primary__level0-link_font-weight;
        }

        @if ($nav--primary__level0-link_font-size) {
            font-size: $nav--primary__level0-link_font-size;
        }

        @if ($nav--primary__level0-link_line-height) {
            line-height: $nav--primary__level0-link_line-height;
        }
    
        @if ($nav--primary__level0-link_font-family) {
            font-family: $nav--primary__level0-link_font-family;
        }
        
        @if ($nav--primary__level0-link_text-transform) {
            text-transform: $nav--primary__level0-link_text-transform;
        }

        @if ($nav--primary__level0-link_color) {
            color: $nav--primary__level0-link_color;
        }

        &:hover {
            text-decoration: none;

            @if ($nav--primary__level0-link--hover_color) {
                color: $nav--primary__level0-link--hover_color;
            }
        }
    }

    .nav-container {
        @include cf;

        display: none;
        margin-bottom: 20px;
        background-color: $nav--primary_background-color;
        text-align: left;
        border-top: $nav--primary_border-top-width $nav--primary_border-top-style $nav--primary_border-top-color;
        border-bottom: $nav--primary_border-bottom-width $nav--primary_border-bottom-style $nav--primary_border-bottom-color;
        border-right: $nav--primary_border-right-width $nav--primary_border-right-style $nav--primary_border-right-color;
        border-left: $nav--primary_border-left-width $nav--primary_border-left-style $nav--primary_border-left-color;

        @if ($nav--primary__level0-link_padding-top) {
            padding-top: $nav--primary__level0-link_padding-top;
            padding-bottom: $nav--primary__level0-link_padding-top;
        }

        .main-aside & {
            display: block;
        }
    }

    .links-before,
    .links-after {
        li {
            @extend %nav--primary__item !optional;

            > a {
                @extend %nav--primary-button !optional;
            }
        }
    }

    .nav--primary {
        background-color: $nav--primary_background-color;

        a {
            position: relative;
            display: block;

            span {
                display: block;
            }

            &:hover {
                text-decoration: none;
            }
        }

        li.actions,
        .level0-left {
            display: none;
        }

        .submenu,
        ul.level1,
        ul.level1 ul {
            display: none;
        }

        .submenu {
            background-color: $nav--primary__submenu_background-color;
            color: $nav--primary__submenu_color;
            text-align: left;

            .parent > a {
                .toggle-menu {
					float: right;
                    width: 20px;
                    font: 400 18px/14px serif;
                    text-align: center;
                }

                &.down .toggle-menu:after {
                    content: '+';
                }

                &.up .toggle-menu:after {
                    content: '\2013';
                }
            }

            ul {
                padding: 10px 0;
            }
        }

        a.level0 {
            @extend %nav--primary-button !optional;
        }

        .parent > a.level0 {
            .toggle-menu {
                float: right;
            }

            &.down .toggle-menu:after {
                content: $icon--arrow-down--c1;
            }

            &.up .toggle-menu:after {
                content: $icon--arrow-up--c1;
            }
        }

        ul.level0 {
            padding: $nav--primary__level0-list_padding-global;
        }

        a.level1 {
            padding: $nav--primary__level1-link_padding-top $nav--primary__level1-link_padding-right;
            font-weight: $nav--primary__level1-link_font-weight;
            font-size: $nav--primary__level1-link_font-size;
            line-height: $nav--primary__level1-link_line-height;
            text-transform: $nav--primary__level1-link_text-transform;
            color: $nav--primary__submenu_color;

            @if ($nav--primary__level1-link_color) {
                color: $nav--primary__level1-link_color;
            }
    
            @if ($nav--primary__level1-link_font-family) {
                font-family: $nav--primary__level1-link_font-family;
            }

            &:hover {
                text-decoration: underline;

                @if ($nav--primary__level1-link--hover_color) {
                    color: $nav--primary__level1-link--hover_color;
                }
            }
        }

        li.level2 {
            background-color: $nav--primary__level2_background-color;
        }

        a.level2 {
            padding: $nav--primary__level2-link_padding-top $nav--primary__level2-link_padding-right;
            font-weight: $nav--primary__level2-link_font-weight;
            font-size: $nav--primary__level2-link_font-size;
            text-transform: $nav--primary__level2-link_text-transform;

            @if ($nav--primary__level2-link_color) {
                color: $nav--primary__level2-link_color;
            }
    
            @if ($nav--primary__level2-link_font-family) {
                font-family: $nav--primary__level2-link_font-family;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        li.level3 {
            background-color: $nav--primary__level3_background-color;
        }

        a.level3 {
            @if ($nav--primary__level3-link_padding-top) {
                padding-top: $nav--primary__level3-link_padding-top;
                padding-bottom: $nav--primary__level3-link_padding-top;
            }

            @if ($nav--primary__level3-link_padding-right) {
                padding-right: $nav--primary__level3-link_padding-right;
                padding-left: $nav--primary__level3-link_padding-right;
            }

            @if ($nav--primary__level3-link_font-weight) {
                font-weight: $nav--primary__level3-link_font-weight;
            }

            @if ($nav--primary__level3-link_font-size) {
                font-size: $nav--primary__level3-link_font-size;
            }

            @if ($nav--primary__level3-link_line-height) {
                line-height: $nav--primary__level3-link_line-height;
            }
    
            @if ($nav--primary__level3-link_font-family) {
                font-family: $nav--primary__level3-link_font-family;
            }

            @if ($nav--primary__level3-link_text-transform) {
                text-transform: $nav--primary__level3-link_text-transform;
            }

            @if ($nav--primary__level3-link_color) {
                color: $nav--primary__level3-link_color;
            }

            &:hover {
                text-decoration: underline;

                @if ($nav--primary__level3-link--hover_color) {
                    color: $nav--primary__level3-link--hover_color;
                }
            }
        }

        li.level4 {
            @if ($nav--primary__level4_background-color) {
                background-color: $nav--primary__level4_background-color;
            }
        }

        a.level4 {
            @if ($nav--primary__level4-link_padding-top) {
                padding-top: $nav--primary__level4-link_padding-top;
                padding-bottom: $nav--primary__level4-link_padding-top;
            }

            @if ($nav--primary__level4-link_padding-right) {
                padding-right: $nav--primary__level4-link_padding-right;
                padding-left: $nav--primary__level4-link_padding-right;
            }

            @if ($nav--primary__level4-link_font-weight) {
                font-weight: $nav--primary__level4-link_font-weight;
            }

            @if ($nav--primary__level4-link_font-size) {
                font-size: $nav--primary__level4-link_font-size;
            }

            @if ($nav--primary__level4-link_line-height) {
                line-height: $nav--primary__level4-link_line-height;
            }
    
            @if ($nav--primary__level4-link_font-family) {
                font-family: $nav--primary__level4-link_font-family;
            }

            @if ($nav--primary__level4-link_text-transform) {
                text-transform: $nav--primary__level4-link_text-transform;
            }

            @if ($nav--primary__level4-link_color) {
                color: $nav--primary__level4-link_color;
            }

            &:hover {
                text-decoration: underline;

                @if ($nav--primary__level4-link--hover_color) {
                    color: $nav--primary__level4-link--hover_color;
                }
            }
        }
    }
}
