/*! ----------------------------------------------------------------------------
    Filename:       component/_rating-box.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- */

.rating-box {
    display: inline-block;
    width: 80px;
    height: 16px;
    background: $icon--star--a1 repeat-x 0 50%;
    vertical-align: text-bottom;
    background-size: 16px 16px;

    .rating {
        float: left;
        height: 15px;
        background: $icon--star--a2 repeat-x 0 50%;
        background-size: 16px 16px;
    }

    .rating-link + & {
        margin-left: 5px;
    }
}
