<?xml version="1.0"?>
<config>
    <modules>
        <Blugento_RewriteCaptcha>
        <version>1.0.0</version>
        </Blugento_RewriteCaptcha>>
    </modules>

    <default>
        <customer>
            <captcha>
                <enable>1</enable>
                <forms>user_create,user_forgotpassword</forms>
            </captcha>
        </customer>
    </default>

</config>
