<?xml version="1.0"?>
<config>
    <modules>
        <Blugento_OrderStatusColor>
            <version>1.0.0</version>
        </Blugento_OrderStatusColor>
    </modules>

    <default>
        <admin>
            <order_grid>
                <default_status_color>#EAEAEA</default_status_color>
            </order_grid>
        </admin>
    </default>

    <global>
        <helpers>
            <blugento_orderstatuscolor>
                <class>Blugento_OrderStatusColor_Helper</class>
            </blugento_orderstatuscolor>
            <!--<amogrid>-->
                <!--<rewrite>-->
                    <!--<columns>Blugento_OrderStatusColor_Helper_Columns</columns>-->
                <!--</rewrite>-->
            <!--</amogrid>-->
        </helpers>
        <models>
            <blugento_orderstatuscolor>
                <class>Blugento_OrderStatusColor_Model</class>
                <resourceModel>blugento_orderstatuscolor_resource</resourceModel>
            </blugento_orderstatuscolor>
            <blugento_orderstatuscolor_resource>
                <class>Blugento_OrderStatusColor_Model_Resource</class>
            </blugento_orderstatuscolor_resource>
        </models>
        <resources>
            <blugento_orderstatuscolor_setup>
                <setup>
                    <module>Blugento_OrderStatusColor</module>
                    <class>Blugento_OrderStatusColor_Model_Resource_Setup</class>
                </setup>
            </blugento_orderstatuscolor_setup>
        </resources>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <blugento_orderstatuscolor>
                    <file>blugento_orderstatuscolor.xml</file>
                </blugento_orderstatuscolor>
            </updates>
        </layout>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <blugento_orderstatuscolor>
                        <class>Blugento_OrderStatusColor_Model_Observer</class>
                        <method>adminhtmlBlockHtmlBefore</method>
                    </blugento_orderstatuscolor>
                </observers>
            </adminhtml_block_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <blugento_orderstatuscolor>
                        <class>Blugento_OrderStatusColor_Model_Observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </blugento_orderstatuscolor>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </adminhtml>
</config>
