<?xml version="1.0"?>
<config>
    <modules>
        <MindMagnet_Configurable>
            <version>0.1.0</version>
        </MindMagnet_Configurable>
    </modules>
    <global>
        <helpers>
            <mindmagnet_configurable>
                <class>MindMagnet_Configurable_Helper</class>
            </mindmagnet_configurable>
        </helpers>
        <models>
            <mindmagnet_configurable>
                <class>MindMagnet_Configurable_Model</class>
            </mindmagnet_configurable>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <mindmagnet_configurable>
                    <file>mindmagnet_configurable.xml</file>
                </mindmagnet_configurable>
            </updates>
        </layout>
        <events>
            <catalog_product_get_final_price>
                <observers>
                    <mindmagnet_catalog_product_get_final_price>
                        <class>mindmagnet_configurable/observer</class>
                        <method>simpleProductPrice</method>
                    </mindmagnet_catalog_product_get_final_price>
                </observers>
            </catalog_product_get_final_price>
        </events>
    </frontend>
</config> 
