<!--@subject Email - Footer @-->
                    <!-- End Content -->
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td>
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td class="cell-cms">
                                                {{block type="cms/block" block_id="imprint_fields"}}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <h5 class="closing-text">Vielen Dank, {{var store.getFrontendName()}}!</h5>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
