html, body { width: 100%; height: 100%; }

body { font-family: 'Roboto', sans-serif; overflow-x: hidden; overflow-y: scroll; }
body a { -webkit-tap-highlight-color: transparent; }

a, address, blockquote, body, button, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, html, hr, input, label, legend, li, noscript, ol, p, pre, span, table, select, textarea, td, th, ul, article, aside, audio, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, video { margin: 0; padding: 0; box-sizing: border-box; }

article, aside, figure, footer, header, main, menu, nav, section { display: block; }

object, embed { outline: 0; }

html, abbr, acronym, fieldset, img, iframe { border: 0; }

:focus { outline: none; }

a img, :link img, :visited img { border: 0; }

a, button, [type='button'], [type='submit'], [type='reset'] { cursor: pointer; }

abbr, acronym { cursor: help; }

label { cursor: default; }

blockquote, q { quotes: none; }

html { font-size: 100.01%; line-height: 1; }

body { background-color: #fff; color: #000; }

table { width: 100%; border-collapse: collapse; border-spacing: 0; empty-cells: show; }

textarea { overflow: auto; }

ul li { list-style-type: none; }

address, caption, cite, code, dfn, h1, h2, h3, h4, h5, h6, var { font-style: normal; font-weight: 400; }

em, i { font-style: italic; }

b, strong { font-weight: 600; }

button, input, optgroup, option, select, textarea { font-family: 'Roboto', sans-serif; font-size: 100%; font-style: inherit; font-weight: inherit; line-height: inherit; }

pre, code, kbd, samp, tt { font-family: 'Roboto', sans-serif; font-size: 108%; line-height: 100%; }

button, input, label, select { vertical-align: middle; }

button, input:not([type]), [type='email'], [type='search'], [type='number'], [type='password'], [type='tel'], [type='text'], [type='button'], [type='submit'], [type='reset'], textarea { appearance: none; border-radius: 0; }

button { -webkit-border-fit: lines; overflow: visible; width: auto; }
button::-moz-focus-inner { padding: 0; border: 0; }

select { overflow: hidden; border-radius: 0; text-overflow: ellipsis; white-space: nowrap; background: inherit; }

[type='number'] { -moz-appearance: textfield; }
[type='number']:-webkit-outer-spin-button, [type='number']:-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

del { text-decoration: line-through; }

ins { text-decoration: none; }

img, embed, object, video { max-width: 100%; height: auto; }

.no-border { border: 0 !important; }

.no-padding { padding: 0 !important; }

.no-margin { margin: 0 !important; }

.center { display: block !important; margin-left: auto !important; margin-right: auto !important; }

.wide { width: auto !important; }

.d-block { display: block !important; }

.d-inline { display: inline !important; }

.d-inline-block { display: inline-block; }
* html .d-inline-block { zoom: 1; display: inline; }
* + html .d-inline-block { zoom: 1; display: inline; }

.no-display, .none { display: none !important; }

.hidden { overflow: hidden !important; display: block !important; width: 0 !important; height: 0 !important; margin: 0 !important; padding: 0 !important; border: 0 !important; font-size: 0 !important; line-height: 0 !important; }

.visible { visibility: visible !important; }

.f-fix { float: left; width: 100%; }

.f-none { float: none !important; }

.left { float: left !important; display: inline; }

.right { float: right !important; display: inline; }

.clear, .clear-left, .clear-right { display: table; font-size: 0; height: 0; line-height: 0; overflow: hidden; background: transparent; }

.clear { clear: both !important; }

.clear-left { clear: left !important; }

.clear-right { clear: right !important; }

.valign-top { vertical-align: top !important; }

.v-middle, .valign-middle { vertical-align: middle !important; }

.valign-bottom { vertical-align: bottom !important; }

.relative { position: relative !important; }

.absolute { position: absolute !important; }

.cf:after, .buttons-set:after, .fieldset:after, .input-box:after, .form-list:after { content: ''; display: table; clear: both; }

.a-center, .align-center { text-align: center !important; }

.a-justify, .align-justify { text-align: justify !important; }

.a-left, .align-left { text-align: left !important; }

.a-right, .align-right { text-align: right !important; }

.bold { font-weight: 700 !important; }

.italic { font-style: italic !important; }

.underline { text-decoration: underline !important; }

.strike { text-decoration: line-through !important; }

.capitalize { text-transform: capitalize !important; }

.lowercase { text-transform: lowercase !important; }

.uppercase { text-transform: uppercase !important; }

.nobr, .nowrap { white-space: nowrap !important; }

.wrap { white-space: normal !important; }

.input-button { cursor: pointer; overflow: visible; text-align: center; }

.input-radio { width: 13px !important; height: 13px !important; }

.img-responsive { display: inline-block; max-width: 100%; height: auto; vertical-align: text-bottom; }

@media (max-width: 995px) { .on-desktop { display: none !important; } }
@media (min-width: 996px) { .on-mobile { display: none !important; } }
legend { display: none; }

input:not([type]), input[type='email'], input[type='search'], input[type='number'], input[type='password'], input[type='tel'], input[type='text'], select, textarea { border: 1px solid #ccc; border-right-color: #e5e5e5; border-bottom-color: #e5e5e5; }

select { appearance: none; height: 35px; padding: 7px 30px 7px 7px; background-color: #fff; background-image: url("../images/icon--arrow-down--a1.svg"); background-repeat: no-repeat; background-position: 96% 50%; background-position: calc(100% - 10px) 50%; }
select::-ms-expand { display: none; }
select.multiselect, select[multiple] { height: auto; padding-right: 7px; background-image: none; }
.ie9 select { background-image: none; }
select option { padding: 5px; }

.buttons-set { clear: both; margin: 0 0 15px 130px; }
.buttons-set p.required { float: right; padding: 10px; font-style: italic; }
.buttons-set .back-link { display: none; }
.buttons-set a:not(.button) { display: inline-block; padding: 10px; }
* html .buttons-set a:not(.button) { zoom: 1; display: inline; }
* + html .buttons-set a:not(.button) { zoom: 1; display: inline; }
@media (max-width: 767px) { .buttons-set a:not(.button) { padding-left: 0; } }
.buttons-set button.button { float: left; min-width: 140px; margin-right: 15px; }

.fieldset > h2, .fieldset > p { margin-bottom: 10px; }

.button + .input-box { display: flex; flex-wrap: wrap; }
.button + .input-box .input-text { width: 100%; border-right: 0; }

a.button, button.button { display: inline-block; padding: 10px 20px; border: 0; font-weight: 700; text-transform: uppercase; background-color: #000; color: #fff; }
* html a.button, * html button.button { zoom: 1; display: inline; }
* + html a.button, * + html button.button { zoom: 1; display: inline; }

a.button--block, button.button--block { display: block; text-align: center; }

input.input-text, textarea.input-text { width: 300px; padding: 9px; }

input[type='checkbox'] + label + a, input[type='radio'] + label + a { display: inline-block; line-height: 16px; vertical-align: middle; }
* html input[type='checkbox'] + label + a, * html input[type='radio'] + label + a { zoom: 1; display: inline; }
* + html input[type='checkbox'] + label + a, * + html input[type='radio'] + label + a { zoom: 1; display: inline; }

.validation-advice { clear: both; margin-top: 5px; font-style: italic; text-align: left; color: #0076bf; }

p.required { text-align: right; color: #f00000; }

label.required { position: relative; }
label.required em { position: absolute; top: 0; right: -10px; float: right; color: #f00000; font: normal 15px/19px Georgia; }

.form-list label { display: inline-block; }
* html .form-list label { zoom: 1; display: inline; }
* + html .form-list label { zoom: 1; display: inline; }
.form-list label + a { display: inline-block; vertical-align: middle; }
* html .form-list label + a { zoom: 1; display: inline; }
* + html .form-list label + a { zoom: 1; display: inline; }
.form-list .link-tip { margin-left: 15px; }
.form-list .input-box, .form-list .input-text, .form-list select { clear: both; width: 100%; }
.form-list .control, .form-list .field, .form-list .wide, .form-list > li:not(.fields) { margin-bottom: 15px; }
.form-list .fields > div:not(.field) { display: flex; flex-flow: row wrap; width: 100%; }
.form-list .field { width: 100%; }
.form-list label:first-child { margin-bottom: 3px; }

.form-list--inline label:first-child { float: left; width: 120px; margin: 0 10px 0 0; padding: 10px 0; }
@media (max-width: 639px) { .form-list--inline label:first-child { float: none; width: auto; margin: 0 0 3px; padding: 0; } }
.form-list--inline label.required em { right: 0; }
@media (max-width: 639px) { .form-list--inline label.required em { right: -10px; } }
.form-list--inline .input-box { clear: none; width: auto; overflow: hidden; }

.messages > li { overflow: hidden; margin-bottom: 15px; padding-left: 44px; border: 1px solid transparent; background-repeat: no-repeat; background-position: 10px 50%; }
.messages > li > ul { padding: 13px 10px; background-color: #fff; }
.messages > li li:before { margin-right: 8px; line-height: 0; vertical-align: top; }
.messages .error-msg { border-color: #d04437; background-color: #d04437; background-image: url("../images/message--error__background-image.svg"); }
.messages .success-msg { border-color: #8eb021; background-color: #8eb021; background-image: url("../images/message--success_background-image.svg"); }
.messages .note-msg, .messages .notice-msg { border-color: #3572b0; background-color: #3572b0; background-image: url("../images/message--notice_background-image.svg"); }

html, body { height: 100%; }

h1 { font-weight: 400; font-size: 22px; }

pre { font-family: 'Roboto', sans-serif; line-height: inherit; white-space: pre-wrap; }

.wrapper { width: 100%; height: 100%; min-height: 100%; text-align: center; }

.page { width: 100%; height: 100%; min-height: 100%; margin: 0 auto; padding: 30px; font: 12px/1.5 Consolas, 'Courier New', monospace; }

.header { background: #fff; padding: 40px 0 20px; position: fixed; left: 0; top: 0; right: 0; }

.main-container { padding: 130px 0 100px; box-sizing: border-box; }

.main-container, .main-container .main, .col-main { height: 100%; }

.col-main { display: flex; text-align: center; justify-content: center; flex-direction: column; overflow-y: scroll; }

.main-container h1 { font-size: 50px; margin-bottom: 40px; }

.main-container h3 { font-size: 20px; line-height: 25px; }

form { max-width: 600px; margin: 0 auto; }

.footer-container { background: #fff; position: fixed; left: 0; bottom: 0; right: 0; }
.footer-container { background: #fff; position: fixed; left: 0; bottom: 0; right: 0; }

.footer-container .copyright { display: flex; justify-content: center; text-align: center; padding: 20px 0 40px; }

.footer-container .copyright span { display: flex; align-items: center; }

.footer-container img { max-width: 60px; margin: 0 20px; }

@media (max-width: 995px) { .page { padding: 15px; } .header { padding: 20px 0; position: inherit; } .main-container { padding: 0; height: initial; } .col-main { display: block; overflow: initial; } .form-list .field { text-align: left; } .footer-container { position: inherit; } .footer-container .copyright { padding: 20px 0; } .main-container h1 { font-size: 30px; margin-bottom: 20px; }  }

.page-title { margin-bottom: 15px; }

.trace-container { margin-bottom: 15px; padding: 15px; border: 1px solid #ccc; border-radius: 5px; background-color: #f5f5f5; }

.trace { width: 100%; overflow: auto; min-height: 250px; }

.highlight { color: #c00; }

.maintenance { text-align: center; }
.maintenance h1 { font-size: 32px; }
@media (max-width: 995px) { .maintenance h1 { font-size: 28px; } }
.maintenance img { margin: 15px 0 30px; }
@media (max-width: 995px) { .maintenance img { max-width: 160px; } }
