<!--@subject Delete User Data @-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h4>Hello,</h4>
            <h4>Your delete user data request was successfully registered.</h4>
            <h4>Your personal data was deleted from:</h4>
            <ul>
                {{if orders}}
                    <li>
                        <h4>Orders</h4>
                    </li>
                {{/if}}

                {{if quotes}}
                <li>
                    <h4>Quotes</h4>
                </li>
                {{/if}}

                {{if invoices}}
                <li>
                    <h4>Invoices</h4>
                </li>
                {{/if}}

                {{if shipments}}
                <li>
                    <h4>Shipments</h4>
                </li>
                {{/if}}

                {{if creditmemos}}
                <li>
                    <h4>Credit Memo</h4>
                </li>
                {{/if}}
            </ul>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}