<!--@subject Delete User Data @-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h4>Hello,</h4>
            <h4>Your delete user data request was successfully registered but cannot be finished because there is an
                account created with this email.</h4>
            <h4>Please delete your account first and comeback in 24 hours to create a new request for data deletion.</h4>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}