$layout--debug_mode: 2;
$layout--page_background-image: 2;
$layout--page_background-repeat: no-repeat;
$layout--preloader_status: 2;
$layout--to_top: 1;
$layout--cookie-notice: 1;
$layout--sticky_header: 2;
$layout--full-layout_mode: 1;
$layout--homepage-banner_layout: 3;
$layout--wishlist_display: 1;
$layout--header_layout: 7;
$layout--nav_layout: 2;
$layout--layered-nav_position: 2;
$layout--mini-cart_layout: 1;
$layout--blog_link: 1;
$layout--footer_marketing_mode: 1;
$layout--product-list_page_layout: 2;
$layout--layered-nav_layout: 2;
$layout--product-list_item_box: 1;
$layout--product-list_item_title_description_display: 1;
$layout--product-list_image_width: auto;
$layout--product-list_add-to-links: 1;
$layout--product-list_breadcrumbs_title: 1;
$layout--product-list_discount_percentage_mode: 1;
$layout--product-list_discount_mode: 2;
$layout--product_list_add_to_cart_status: 1;
$layout--product-view_page_layout: 1;
$layout--product-view: 1;
$layout--product-view_shop_layout: 1;
$layout--product-view_tabs-style: 3;
$layout--product-view_gallery_orientation: 1;
$layout--product-view_mobile_gallery_orientation: 1;
$layout--product-view_gallery_images_count: 5;
$layout--product-view_gallery_images_count_mobile: 3;
$layout--product-view_main_image_action: 9;
$layout--product-view_group_attributes_status: 2;
$layout--product-view_reviews_mode: 1;
$layout--product-view_discount_percentage_mode: 1;
$layout--product-view_discount_mode: 1;
$layout--product-view_add_to_cart_quantity_buttons_status: 1;
$layout--checkout_cart_clear_button: 2;
$layout--checkout_cart_shipping_section: 2;
$layout--checkout_cart_product_thumbnail: 1;
$layout--checkout_cart_product_unit_price: 1;
$layout--checkout_cart_layout: 1;
$layout--checkout_cart_add_to_cart_quantity_buttons_status: 1;
$layout--checkout_billing_address_layout: 1;
$layout--checkout_shipping_address_layout: 1;
$layout--checkout_use_billing_shipping_address_above_form: 1;
$layout--checkout_agreements_position: 1;
$layout--input-text_layout: 2;
$layout--checkout_view_page_orientation: 1;
$layout--checkout-view_page_layout: 1;
$my_account_register_new_layout: 1;
$my_account_login_new_layout: 1;
$my_account_customer_new_layout: 1;
$checkout_view_new_layout: 2;
$layout--image_lazy_load: 2;
$layout--sticky_header_all: 2;
$layout--sticky_header_logo: 1;
$layout--sticky_header_logo_mobile: 1;
$layout--sticky_header-links: 2;
$layout--nav_mobile_new_option: 2;
$banner_arrows: 1;
$layout_search_icons: 1;
$layout_account_icons: 2;
$layout_cart_icons: 2;
$header_enable_wishlist: 1;
$layout_wishlist_icons: 2;
$layout--order_icons: 1;
$mini_cart_image_layout: 2;
$newsletter_subscribe: 1;
$newsletter_menu_accordion: 1;
$layout--layered-nav_layout_list: 1;
$product_list_order_toolbar: 1;
$product_list_sort_by: 1;
$layout--product-list_image_resize: 1;
$catalogProductListQty: 2;
$layout--product_list_buy_now_button: 2;
$product_list_description_html: 2;
$product_list_order_sort: 2;
$product_list_pagination_pager: 2;
$product_list_show_products_count: 1;
$product_list_status: 2;
$product_list_filters_heigth: 1;
$product_list_show_empty_reviews: 2;
$layout--product_image_resize: 4;
$layout--product_view_layout_price_position: 1;
$layout--product_view_layout_tabs_position: 1;
$layout--product_view_tabs_orientation: 1;
$layout--product-view_gallery_images_popup_mobile: 1;
$layout--product-view_specification-order: 1;
$layout--product-view_review_form: 1;
$layout--product_view_add_to_cart_mobile: 1;
$layout--product_view_promotion_countdown: 1;
$layout--product_view_catalog_promotion_countdown: 2;
$layout--product_bundle_old_price: 2;
$layout--product_view_buy_now_button: 2;
$layout--product_view_preselect_single_swatches: 2;
$layout--product_view_select_swatch_product: 1;
$layout--product_view_reviews_toggle: 2;
$layout--product_view_description_toggle: 2;
$layout--product_view_description_toggle_value: 10000;
$layout--checkout_cart_modal: 2;
$layout--cart_view_proceed_to_checkout_mobile: 1;
$layout--checkout_cart_total_hide_tax: 2;
$layout--cart_view_proceed_to_checkout: 2;
$layout--checkout_cart_labels_wat: 2;
$layout--logged_in_customer_address: 2;
$checkout_aside_items: 2;
$anpc_links: 1;
