$color--primary: #000000;
$color--secondary: #FFFFFF;
$color--third: #000000;
$color--fourth: #B3AE7F;
$color--fifth: #FFFFFF;
$badge--sale_display: block;
$badge--new_display: block;
$message--error__background-color: #D04437;
$message--notice_background-color: #3572B0;
$message--success_background-color: #8EB021;
$page_width: 1320px;
$page-header_color: #000000;
$nav--primary__level0-link_color: #000000;
$nav--primary__level0-link_font-size: 14px;
$page_color: #000000;
$letter-spacing: 1.75px;
