<?xml version="1.0"?>
<config>
    <modules>
        <Blugento_ConfigurableSwatches>
            <version>1.0.0</version>
        </Blugento_ConfigurableSwatches>
    </modules>
    <global>
        <helpers>
            <configurableswatches>
                <rewrite>
                    <mediafallback>Blugento_ConfigurableSwatches_Helper_Mediafallback</mediafallback>
                </rewrite>
            </configurableswatches>
        </helpers>
    </global>
</config>