<?xml version="1.0"?>
<!--
/**
 * @package   Blugento_Pdf
 * @copyright 2016 Blugento Team
 */
 -->
<config>
    <modules>
        <Blugento_Pdf>
            <version>1.0.0</version>
        </Blugento_Pdf>
    </modules>
    <global>
        <blocks>
            <blugento_pdf>
                <class>Blugento_Pdf_Block</class>
            </blugento_pdf>
        </blocks>
        <helpers>
            <blugento_pdf>
                <class>Blugento_Pdf_Helper</class>
            </blugento_pdf>
        </helpers>
        <models>
            <blugento_pdf>
                <class>Blugento_Pdf_Model</class>
            </blugento_pdf>
            <core>
                <rewrite>
                    <email_template_mailer>Blugento_Pdf_Model_Email_Template_Mailer</email_template_mailer>
                </rewrite>
            </core>
            <sales>
                <rewrite>
                    <order_pdf_invoice>Blugento_Pdf_Model_Invoice</order_pdf_invoice>
                    <order_pdf_creditmemo>Blugento_Pdf_Model_Creditmemo</order_pdf_creditmemo>
                    <order_pdf_shipment>Blugento_Pdf_Model_Shipment</order_pdf_shipment>
                </rewrite>
            </sales>
            <tax>
                <rewrite>
                    <sales_pdf_grandtotal>Blugento_Pdf_Model_Tax_Sales_Pdf_Grandtotal</sales_pdf_grandtotal>
                </rewrite>
            </tax>
        </models>
        <resources>
            <blugento_pdf_setup>
                <setup>
                    <module>Blugento_Pdf</module>
                </setup>
            </blugento_pdf_setup>
        </resources>
        <events>
            <blugento_pdf_invoice_insert_note>
                <observers>
                    <blugento_pdf>
                        <class>blugento_pdf/observer</class>
                        <method>addInvoiceNotes</method>
                    </blugento_pdf>
                </observers>
            </blugento_pdf_invoice_insert_note>
            <blugento_pdf_shipment_insert_note>
                <observers>
                    <blugento_pdf>
                        <class>blugento_pdf/observer</class>
                        <method>addShipmentNotes</method>
                    </blugento_pdf>
                </observers>
            </blugento_pdf_shipment_insert_note>
            <blugento_pdf_creditmemo_insert_note>
                <observers>
                    <blugento_pdf>
                        <class>blugento_pdf/observer</class>
                        <method>addCreditmemoNotes</method>
                    </blugento_pdf>
                </observers>
            </blugento_pdf_creditmemo_insert_note>
            <blugento_pdf_invoice_edit_page>
                <observers>
                    <blugento_pdf>
                        <class>blugento_pdf/observer</class>
                        <method>addInvoiceBarcode</method>
                    </blugento_pdf>
                </observers>
            </blugento_pdf_invoice_edit_page>
            <blugento_pdf_shipment_edit_page>
                <observers>
                    <blugento_pdf>
                        <class>blugento_pdf/observer</class>
                        <method>addShipmentBarcode</method>
                    </blugento_pdf>
                </observers>
            </blugento_pdf_shipment_edit_page>
        </events>
        <pdf>
            <!-- fix totals order -->
            <totals>
                <tax>
                    <sort_order>650</sort_order>
                </tax>
            </totals>
            <!-- add new PDF engine -->
            <blugento_invoice_engines>
                <engine>
                    <label>Standard Romania</label>
                    <class>blugento_pdf/engine_invoice_romania</class>
                </engine>
                <engine2>
                    <label>Standard Italia</label>
                    <class>blugento_pdf/engine_invoice_italia</class>
                </engine2>
                <engine3>
                    <label>Custom Italia</label>
                    <class>blugento_pdf/engine_invoice_italia2</class>
                </engine3>
            </blugento_invoice_engines>
        </pdf>
    </global>
    <frontend>
        <translate>
            <modules>
                <Blugento_Pdf>
                    <files>
                        <blugento_pdf>Blugento_Pdf.csv</blugento_pdf>
                    </files>
                </Blugento_Pdf>
            </modules>
        </translate>
        <routers>
            <sales>
                <args>
                    <modules>
                        <blugento_pdf before="Mage_Sales">Blugento_Pdf_Sales</blugento_pdf>
                    </modules>
                </args>
            </sales>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Blugento_Pdf>
                    <files>
                        <blugento_pdf>Blugento_Pdf.csv</blugento_pdf>
                    </files>
                </Blugento_Pdf>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <blugento_pdf before="Mage_Adminhtml">Blugento_Pdf_Adminhtml</blugento_pdf>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <phpunit>
        <suite>
            <modules>
                <Blugento_Pdf>1</Blugento_Pdf>
            </modules>
        </suite>
    </phpunit>
    <default>
        <sales_pdf>
            <blugento_pdf>
                <logo_ratio>100</logo_ratio>
                <headerblocks_position>left</headerblocks_position>
                <!-- This is Zend_Pdf_Page::SIZE_A4 -->
                <page_size>595:842:</page_size>
            </blugento_pdf>
            <blugento_pdf_fonts>
                <upload_fonts>0</upload_fonts>
                <regular_font/>
                <bold_font/>
                <italic_font/>
            </blugento_pdf_fonts>
            <invoice>
                <engine>blugento_pdf/engine_invoice_default</engine>
                <show_customer_number>1</show_customer_number>
                <customer_number_field/>
                <show_customer_vatnumber>0</show_customer_vatnumber>
                <customer_number_guestorder>-</customer_number_guestorder>
                <show_date_notice>0</show_date_notice>
                <maturity/>
                <payment_method_position/>
                <shipping_method_position/>
                <show_comments>0</show_comments>
                <show_order_comments>0</show_order_comments>
                <note/>
                <item_price_column_order>price_incl_tax,qty,tax,subtotal_incl_tax</item_price_column_order>
                <show_item_discount>0</show_item_discount>
                <order_id_as_barcode>0</order_id_as_barcode>
                <filename_export_pattern/>
                <filename_export_pattern_for_multiple_documents/>
                <shipping_country_notes/>
            </invoice>
            <shipment>
                <engine>blugento_pdf/engine_shipment_default</engine>
                <show_customer_number>1</show_customer_number>
                <show_customer_vatnumber>0</show_customer_vatnumber>
                <shipping_method_position/>
                <show_comments>0</show_comments>
                <note/>
                <order_id_as_barcode>0</order_id_as_barcode>
                <filename_export_pattern/>
                <filename_export_pattern_for_multiple_documents/>
            </shipment>
            <creditmemo>
                <engine>blugento_pdf/engine_creditmemo_default</engine>
                <show_customer_number>1</show_customer_number>
                <show_customer_vatnumber>0</show_customer_vatnumber>
                <show_comments>0</show_comments>
                <note/>
                <filename_export_pattern/>
                <filename_export_pattern_for_multiple_documents/>
            </creditmemo>
        </sales_pdf>
        <tax>
            <sales_display>
                <no_sum_on_details>0</no_sum_on_details>
            </sales_display>
        </tax>
    </default>
</config>
