<!--@title Impressumsfelder @-->
<p><strong>Bitte nutzen Sie folgende Anleitung, um Ihr Impressum korrekt in Ihren blugento Shop einzufügen: <a href="https://support-de.blugento.com/support/solutions/articles/5000645020-impressum-einf-gen" target="blank">Impressum einfügen</a></strong></p>

<h1>DISCLAIMER</h1>

<p>Die hier bereitgestellten Mustertexte sind ausdrücklich als <strong>MUSTER</strong> zu verstehen und müssen in jedem Fall durch eigene rechtssichere Texte ersetzt werden. Die Blugento GmbH trägt für die Richtigkeit und Vollständigkeit dieser Texte keine Verantwortung.</p>

<h2>Impressum (Muster)</h2>

<h3>{{block type="blugento_localizer/imprint_field" value="shop_name"}}</h3>

<p>
    {{block type="blugento_localizer/imprint_field" value="company_first"}}<br />
    {{block type="blugento_localizer/imprint_field" value="company_second"}}<br />
    {{block type="blugento_localizer/imprint_field" value="street"}}<br />
    {{block type="blugento_localizer/imprint_field" value="zip"}} {{block type="blugento_localizer/imprint_field" value="city"}}<br />
    {{block type="blugento_localizer/imprint_field" value="country"}}
</p>

<p>
    Telefon: {{block type="blugento_localizer/imprint_field" value="telephone"}} ({{block type="blugento_localizer/imprint_field" value="telephone_additional"}})<br />
    Fax: {{block type="blugento_localizer/imprint_field" value="fax"}}<br />
    Website: <a href='{{block type="blugento_localizer/imprint_field" value="web"}}' rel="noopener" target="_blank">{{block type="blugento_localizer/imprint_field" value="web"}}</a><br />
    <!-- TODO @Simona -->
    E-Mail: <a href='mailto:{{block type="blugento_localizer/imprint_field" value="email"}}' rel="noopener" target="_blank">{{block type="blugento_localizer/imprint_field" value="email"}}</a>
</p>

<p>
    Geschäftsführer: {{block type="blugento_localizer/imprint_field" value="ceo"}}<br />
    Inhaber: {{block type="blugento_localizer/imprint_field" value="owner"}}
</p>

<p>
    Registergericht: {{block type="blugento_localizer/imprint_field" value="court"}}<br />
    Registernummer: {{block type="blugento_localizer/imprint_field" value="register_number"}}<br />
    Blattlinie: {{block type="blugento_localizer/imprint_field" value="editorial_concept"}}<br />
    Verweis auf berufliche Regelungen: {{block type="blugento_localizer/imprint_field" value="business_rules"}}
</p>

<p>
    Verantwortlich im Sinne des § 5 TMG:<br />
    Inhaltlich verantwortlich: {{block type="blugento_localizer/imprint_field" value="content_responsable_name"}}<br />
    Adresse des inhalt. Verantwortlichen: {{block type="blugento_localizer/imprint_field" value="content_responsable_address"}}<br />
    Verantwortlich im Sinne des Presserechts: {{block type="blugento_localizer/imprint_field" value="content_responsable_press_law"}}<br />
</p>

<p>
    Zuständiges Finanzamt: {{block type="blugento_localizer/imprint_field" value="financial_office"}}<br />
    Steuernummer: {{block type="blugento_localizer/imprint_field" value="tax_number"}}<br />
    USt-IdNr.: {{block type="blugento_localizer/imprint_field" value="vat_id"}}
</p>

<h3>Bankdaten</h3>

<p>
    Kontoinhaber: {{block type="blugento_localizer/imprint_field" value="bank_account_owner"}}<br />
    Kontonummer: {{block type="blugento_localizer/imprint_field" value="bank_account"}}<br />
    BLZ: {{block type="blugento_localizer/imprint_field" value="bank_code_number"}}<br />
    Name der Bank: {{block type="blugento_localizer/imprint_field" value="bank_name"}}<br />
    BIC/SWIFT: {{block type="blugento_localizer/imprint_field" value="swift"}}<br />
    IBAN: {{block type="blugento_localizer/imprint_field" value="iban"}}<br />
    Clearing: {{block type="blugento_localizer/imprint_field" value="clearing"}}
</p>