<?xml version="1.0"?>
<config>
    <modules>
        <AjaxLogin>
            <version>0.3.1</version>
        </AjaxLogin>
    </modules>
    <global>
        <helpers>
            <ajaxlogin>
                <class>AjaxLogin_Helper</class>
            </ajaxlogin>
        </helpers>
        <blocks>
            <ajaxlogin>
                <class>AjaxLogin_Block</class>
            </ajaxlogin>
        </blocks>
        <models>
            <ajaxlogin>
                <class>AjaxLogin_Model</class>
            </ajaxlogin>
        </models>
    </global>
    <frontend>
        <routers>
            <ajaxlogin>
                <use>standard</use>
                <args>
                    <module>AjaxLogin</module>
                    <frontName>ajaxlogin</frontName>
                </args>
            </ajaxlogin>
        </routers>
        <secure_url>
            <ajaxlogin>/ajaxlogin</ajaxlogin>
        </secure_url>
        <layout>
            <updates>
                <AjaxLogin>
                    <file>ajaxlogin.xml</file>
                </AjaxLogin>
            </updates>
        </layout>
        <translate>
            <modules>
                <AjaxLogin>
                    <files>
                        <default>blugentologin.csv</default>
                    </files>
                </AjaxLogin>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <AjaxLogin>
                    <files>
                        <default>blugentologin.csv</default>
                    </files>
                </AjaxLogin>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <ajaxlogin>
            <options>
                <enable>1</enable>
                <button_placement>default</button_placement>
                <button_action>1</button_action>
            </options>
        </ajaxlogin>
    </default>
</config>