<?xml version="1.0"?>
<config>
    <modules>
        <Blugento_GdprCookies>
            <version>1.0.6</version>
        </Blugento_GdprCookies>
    </modules>
    <global>
        <helpers>
            <gdprcookies>
                <class>Blugento_GdprCookies_Helper</class>
            </gdprcookies>
        </helpers>
        <models>
            <gdprcookies>
                <class>Blugento_GdprCookies_Model</class>
                <resourceModel>gdprcookies_resource</resourceModel>
            </gdprcookies>
            <gdprcookies_resource>
                <class>Blugento_GdprCookies_Model_Resource</class>
                <entities>
                    <list>
                        <table>gdprcookies_list</table>
                    </list>
                </entities>
            </gdprcookies_resource>
            <googleanalytics>
                <rewrite>
                    <system_config_source_type>Blugento_GdprCookies_Model_System_Config_Source_Type</system_config_source_type>
                </rewrite>
            </googleanalytics>
        </models>
        <blocks>
            <gdprcookies>
                <class>Blugento_GdprCookies_Block</class>
            </gdprcookies>
            <googleanalytics>
                <rewrite>
                    <ga>Blugento_GdprCookies_Block_Ga</ga>
                </rewrite>
            </googleanalytics>
        </blocks>
        <resources>
            <gdprcookies_setup>
                <setup>
                    <module>Blugento_GdprCookies</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </gdprcookies_setup>
        </resources>
        <events>
            <controller_action_postdispatch>
                <observers>
                    <update_cookies_list_block>
                        <type>singleton</type>
                        <class>Blugento_GdprCookies_Model_Observer</class>
                        <method>updateCookieList</method>
                    </update_cookies_list_block>
                </observers>
            </controller_action_postdispatch>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <gdprcookies>
                    <file>gdprcookies.xml</file>
                </gdprcookies>
            </updates>
        </layout>
        <translate>
            <modules>
                <gdprcookies>
                    <files>
                        <default>Blugento_GDPR.csv</default>
                    </files>
                </gdprcookies>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <gdprcookies>
                    <files>
                        <default>Blugento_GDPR.csv</default>
                    </files>
                </gdprcookies>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <gdpr_cookies>
            <default_categories>
                <necessary>Checked Read-Only</necessary>
                <analytics>4</analytics>
                <marketing>4</marketing>
            </default_categories>
            <lifetime_cookie>
                <lifetime_cookie_input>360000</lifetime_cookie_input>
            </lifetime_cookie>
            <general>
                <enabled>1</enabled>
                <disablePersistent>1</disablePersistent>
                <popup_title>Acest site web utilizează Cookie-uri</popup_title>
                <popup_content>Folosim cookie-uri pentru a personaliza conținutul și anunțurile, pentru a oferi funcții de social media și pentru a analiza traficul nostru. De asemenea, împărtășim informații despre utilizarea site-ului nostru cu partenerii noștri de socializare, publicitate și analiză, care îl pot combina cu alte informații pe care le-ați furnizat-o sau pe care le-au colectat din utilizarea serviciilor lor. Sunteți de acord cu cookie-urile noastre dacă continuați să utilizați site-ul nostru web.</popup_content>
            </general>
        </gdpr_cookies>
        <google>
            <analytics>
                <category>2</category>
            </analytics>
        </google>
        <web>
            <cookie>
                <cookie_lifetime>86400</cookie_lifetime>
            </cookie>
        </web>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <gdprcookies before="Mage_Adminhtml">Blugento_GdprCookies_Adminhtml</gdprcookies>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <update_cookies_list_block>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>gdprcookies/observer::updateCookiesListBlock</model>
                </run>
            </update_cookies_list_block>
        </jobs>
    </crontab>
</config> 