/*! ----------------------------------------------------------------------------
    Filename:       core/grid.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- */

.row,
%row {
    @extend %cf;
    @include make-grid-row();
}

@include make-grid('');
