<?xml version="1.0"?>

<config>
    <modules>
        <IntelligentIT_SmartBill>
            <version>1.0.3</version>
        </IntelligentIT_SmartBill>
    </modules>
    <global>
        <blocks>
            <smartbill>
                <class>IntelligentIT_SmartBill_Block</class>
            </smartbill>
        </blocks>
        <helpers>
            <smartbill>
                <class>IntelligentIT_SmartBill_Helper</class>
            </smartbill>
        </helpers>
        <models>
            <smartbill>
                <class>IntelligentIT_SmartBill_Model</class>
            </smartbill>
        </models>
        <events>
            <admin_system_config_changed_section_connect>
                <observers>
                    <smartbill_login>
                        <class>smartbill/ObserverLogin</class>
                        <method>handle_adminSystemConfigChangedSection</method>
                    </smartbill_login>
                </observers>
            </admin_system_config_changed_section_connect>
            <admin_system_config_changed_section_settings>
                <observers>
                    <smartbill_settings>
                        <class>smartbill/ObserverSettings</class>
                        <method>handle_adminSystemConfigChangedSection</method>
                    </smartbill_settings>
                </observers>
            </admin_system_config_changed_section_settings>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <smartbill_core>
                        <class>smartbill/ObserverCore</class>
                        <method>handle_adminHTMLBlockBefore</method>
                    </smartbill_core>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
        <resources>
            <smartbill_setup>
                <setup>
                    <class>smartbill/Resource_Setup</class>
                    <module>IntelligentIT_SmartBill</module>
                </setup>
            </smartbill_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <smartbill_document_url>
                    <to_order>*</to_order>
                </smartbill_document_url>
            </sales_convert_quote>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <smartbill>
                <use>standard</use>
                <args>
                    <module>IntelligentIT_SmartBill</module>
                    <frontName>smartbill</frontName>
                </args>
            </smartbill>
        </routers>
        <layout>
            <updates>
                <smartbill>
                    <file>smartbill.xml</file>
                </smartbill>
            </updates>
        </layout>
    </frontend>
</config>