<!--@subject Stergere Date Utilizator @-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h4>Bună ziua,</h4>
            <h4>Solicitarea dumneavoastră pentru ștergerea datelor a fost înregistrată cu succes.</h4>
            <h4>Datele dumneavoastre personale au fost șterse din:</h4>
            <ul>
                {{if orders}}
                    <li>
                        <h4>Comenzi</h4>
                    </li>
                {{/if}}

                {{if quotes}}
                <li>
                    <h4>Coșuri de cumpărături abandonate</h4>
                </li>
                {{/if}}

                {{if invoices}}
                <li>
                    <h4>Facturi</h4>
                </li>
                {{/if}}

                {{if shipments}}
                <li>
                    <h4>Livrări</h4>
                </li>
                {{/if}}

                {{if creditmemos}}
                <li>
                    <h4>Facturi Storno</h4>
                </li>
                {{/if}}
            </ul>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}