<?xml version="1.0"?>
<config>
  <modules>
    <Blugento_ProductStatus>
      <version>1.0.0</version>
    </Blugento_ProductStatus>
  </modules>
  <global>
    <helpers>
      <productstatus>
        <class>Blugento_ProductStatus_Helper</class>
      </productstatus>
    </helpers>
	<models>
	  <productstatus>
		<class>Blugento_ProductStatus_Model</class>
		<resourceModel>productstatus_mysql4</resourceModel>
	  </productstatus>
	</models>
	<resources>
	  <productstatus_setup>
		<setup>
		  <module>Blugento_ProductStatus</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </productstatus_setup>
	  <productstatus_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </productstatus_write>
	  <productstatus_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </productstatus_read>
	</resources>
  </global>
</config> 