/*! ----------------------------------------------------------------------------
    Filename:       component/_nav5.scss
    Version:        1.0
    Description:    Left Navigation - Mega Menu
    ------------------------------------------------------------------------- */

@import '../mixin/_util.scss';

@if ($layout--nav_layout == 5) {

    // Variables for nav 5
    $nav--primary_border-top-style:                 none !default;
    $nav--primary_border-top-width:                 3px !default;
    $nav--primary_border-top-color:                 color('b') !default;
    $nav--primary_border-bottom-style:              none !default;
    $nav--primary_border-bottom-width:              3px !default;
    $nav--primary_border-bottom-color:              color('b') !default;
    $nav--primary_border-right-style:               none !default;
    $nav--primary_border-right-width:               3px !default;
    $nav--primary_border-right-color:               color('b') !default;
    $nav--primary_border-left-style:                none !default;
    $nav--primary_border-left-width:                3px !default;
    $nav--primary_border-left-color:                color('b') !default;

    $nav--primary__level0-list_padding-global:      20px !default;
    $nav--primary__level0-list_border-right:        $nav--primary_background-color !default;

    $nav--primary__level0-link_padding-top:         10px !default;
    $nav--primary__level0-link_padding-right:       15px !default;
    $nav--primary__level0-link_font-style:          inherit !default;
    $nav--primary__level0-link_font-weight:         900 !default;
    $nav--primary__level0-link_font-size:           14px !default;
    $nav--primary__level0-link_line-height:         (16 / 14) !default;
    $nav--primary__level0-link_font-family:         $font-family-base !default;
    $nav--primary__level0-link_text-transform:      uppercase !default;
    $nav--primary__level0-link_color:               color('b') !default;
    $nav--primary__level0-link--hover_color:        color('g') !default;

    $nav--primary__level1-link_padding-top:         10px !default;
    $nav--primary__level1-link_padding-right:       0 !default;
    $nav--primary__level1-link_font-weight:         700 !default;
    $nav--primary__level1-link_font-size:           16px !default;
    $nav--primary__level1-link_line-height:         (16 / 15) !default;
    $nav--primary__level1-link_font-family:         $font-family-base !default;
    $nav--primary__level1-link_text-transform:      uppercase !default;
    $nav--primary__level1-link_color:               false !default;
    $nav--primary__level1-link--hover_color:        false !default;

    $nav--primary__level2_background-color:         inherit !default;
    $nav--primary__level2-link_padding-top:         3px !default;
    $nav--primary__level2-link_padding-right:       0 !default;
    $nav--primary__level2-link_font-weight:         400 !default;
    $nav--primary__level2-link_font-size:           12px !default;
    $nav--primary__level2-link_line-height:         false !default;
    $nav--primary__level2-link_font-family:         $font-family-base !default;
    $nav--primary__level2-link_text-transform:      none !default;
    $nav--primary__level2-link_color:               false !default;
    $nav--primary__level2-link--hover_color:        false !default;

    .nav--primary__item,
    %nav--primary__item {
    }

    .nav--primary-button,
    %nav--primary-button {
        display: block;

        @if ($nav--primary__level0-link_padding-top) {
            padding-top: $nav--primary__level0-link_padding-top;
            padding-bottom: $nav--primary__level0-link_padding-top;
        }

        @if ($nav--primary__level0-link_padding-right) {
            padding-right: $nav--primary__level0-link_padding-right;
            padding-left: $nav--primary__level0-link_padding-right;
        }

        @if ($nav--primary__level0-link_font-style) {
            font-style: $nav--primary__level0-link_font-style;
        }

        @if ($nav--primary__level0-link_font-weight) {
            font-weight: $nav--primary__level0-link_font-weight;
        }

        @if ($nav--primary__level0-link_font-size) {
            font-size: $nav--primary__level0-link_font-size;
        }

        @if ($nav--primary__level0-link_line-height) {
            line-height: $nav--primary__level0-link_line-height;
        }
    
        @if ($nav--primary__level0-link_font-family) {
            font-family: $nav--primary__level0-link_font-family;
        }

        @if ($nav--primary__level0-link_text-transform) {
            text-transform: $nav--primary__level0-link_text-transform;
        }

        @if ($nav--primary__level0-link_color) {
            color: $nav--primary__level0-link_color;
        }

        &:hover {
            text-decoration: none;

            @if ($nav--primary__level0-link--hover_color) {
                color: $nav--primary__level0-link--hover_color;
            }
        }
    }

    .nav-container {
        @include cf;

        display: none;
        position: relative;
        margin-bottom: 20px;
        background-color: $nav--primary_background-color;
        text-align: left;
        border-top: $nav--primary_border-top-width $nav--primary_border-top-style $nav--primary_border-top-color;
        border-bottom: $nav--primary_border-bottom-width $nav--primary_border-bottom-style $nav--primary_border-bottom-color;
        border-right: $nav--primary_border-right-width $nav--primary_border-right-style $nav--primary_border-right-color;
        border-left: $nav--primary_border-left-width $nav--primary_border-left-style $nav--primary_border-left-color;

        @if ($nav--primary__level0-link_padding-top) {
            padding-top: $nav--primary__level0-link_padding-top;
            padding-bottom: $nav--primary__level0-link_padding-top;
        }

        .main-aside & {
            display: block;
        }
    }

    .links-before,
    .links-after {
        li {
            @extend %nav--primary__item !optional;

            > a {
                @extend %nav--primary-button !optional;
            }
        }
    }

    .nav--primary {
        @include cf;

        clear: both;

        a {
            display: block;

            span {
                display: block;
            }

            &:hover {
                text-decoration: none;
            }
        }

        li.actions {
            display: none;
        }

        .submenu {
            display: none;
            z-index: 100;
            position: absolute;
            left: 100%;
            top: 0;
            min-height: 100%;
            table-layout: fixed;
            background-color: $nav--primary__submenu_background-color;
            background-repeat: no-repeat;
            color: $nav--primary__submenu_color;

            .level0-left {
                display: none;
            }
        }

        li.level0 {
            @extend %nav--primary__item !optional;

            &.parent.hover {
                > a:after {
                    @include icon-triangle(left, 10px, $nav--primary__submenu_background-color);
                    position: absolute;
                    bottom: calc(50% - 10px);
                    right: -2px;
                    margin-left: -10px;
                }

                .submenu {
                    display: block;
                }
            }
        }

        a.level0 {
            @extend %nav--primary-button;
            position: relative; // required for: li.level0.parent:hover > a:after
        }

        ul.level0 {
            overflow: hidden;
            margin-bottom: -10px;
            padding: $nav--primary__level0-list_padding-global;
        }

        li.level1 {
            float: left;
            width: 25%;
        }

        a.level1 {
            margin-bottom: 10px;

            @if ($nav--primary__level1-link_font-weight) {
                font-weight: $nav--primary__level1-link_font-weight;
            }

            @if ($nav--primary__level1-link_font-size) {
                font-size: $nav--primary__level1-link_font-size;
            }

            @if ($nav--primary__level1-link_line-height) {
                line-height: $nav--primary__level1-link_line-height;
            }
    
            @if ($nav--primary__level1-link_font-family) {
                font-family: $nav--primary__level1-link_font-family;
            }

            @if ($nav--primary__level1-link_text-transform) {
                text-transform: $nav--primary__level1-link_text-transform;
            }

            @if ($nav--primary__level1-link_color) {
                color: $nav--primary__level1-link_color;
            }

            &:hover {
                text-decoration: underline;

                @if ($nav--primary__level1-link--hover_color) {
                    color: $nav--primary__level1-link--hover_color;
                }
            }
        }

        li.level2 {
            background-color: $nav--primary__level2_background-color;
        }

        a.level2 {
            @if ($nav--primary__level2-link_padding-top) {
                padding-top: $nav--primary__level2-link_padding-top;
                padding-bottom: $nav--primary__level2-link_padding-top;
            }

            @if ($nav--primary__level2-link_padding-right) {
                padding-right: $nav--primary__level2-link_padding-right;
                padding-left: $nav--primary__level2-link_padding-right;
            }

            @if ($nav--primary__level2-link_font-weight) {
                font-weight: $nav--primary__level2-link_font-weight;
            }

            @if ($nav--primary__level2-link_font-size) {
                font-size: $nav--primary__level2-link_font-size;
            }

            @if ($nav--primary__level2-link_line-height) {
                line-height: $nav--primary__level2-link_line-height;
            }
            
            @if ($nav--primary__level2-link_font-family) {
                font-family: $nav--primary__level2-link_font-family;
            }

            @if ($nav--primary__level2-link_text-transform) {
                text-transform: $nav--primary__level2-link_text-transform;
            }

            @if ($nav--primary__level2-link_color) {
                color: $nav--primary__level2-link_color;
            }

            @if ($nav--primary__level2-link_color) {
                color: $nav--primary__level2-link_color;
            }

            &:hover {
                text-decoration: underline;

                @if ($nav--primary__level2-link--hover_color) {
                    color: $nav--primary__level2-link--hover_color;
                }
            }
        }

        ul.level2,
        ul.level2 ul {
            display: none;
        }
    }
}
