/*! ----------------------------------------------------------------------------
    Filename:       component/_nav.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- */

@include desktop {
    @import 'nav13';
    @import 'nav12';
    @import 'nav11';
    @import 'nav10';
    @import 'nav9';
    @import 'nav8';
    @import 'nav7';
    @import 'nav6';
    @import 'nav5';
    @import 'nav4';
    @import 'nav3';
    @import 'nav1';
    @import 'nav2';
}

@include mobile {
    .submenu-image,
    .submenuimage {
        img {
            display: none;
        }
        > a {
            padding: 15px 20px;
        }
    }
}

@include desktop {
    .nav-container {
        width: 100% !important;
        left: 0 !important;
    }
}
