/*! ----------------------------------------------------------------------------
    Filename:       component/_table.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- */

@include phone-sm {
    .my-account,
    .multiple-checkout ,
    .order-review {
        table {
            display: block;
            width: 100%;
            max-width: 100%;
            border: 0;

            > thead,
            > tbody,
            > tfoot {
                display: block;

                > tr {
                    display: block;

                    > th,
                    > td {
                        display: block;
                        text-align: center;
                    }
                }
            }

            thead tr {
                display: none;
            }

            tfoot td {
                .btn-inline {
                    padding: 6px 12px;
                }
            }

            > tbody > tr,
            > tr {
                margin-bottom: 15px;
                background-color: color('c');

                td {
                    padding: 10px 5px !important;
                    border: 0;
                    text-align: center !important;

                    &[data-title]:before {
                        white-space: nowrap;
                        content: attr(data-title);
                        display: block;
                        font-weight: bold;
                        padding: 5px 0;
                    }
                }
            }
        }

        dl.item-options {

            dt {
                width: 52%;
                text-align: right;
            }

            dd {
                width: 48%;
                float: right;
                text-align: left;
            }
        }
    }
}
