<!--@subject Delete User Data @-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h4>Hello,</h4>
            <h4>Your delete user data request was successfully registered.</h4>
            <h4>Unfortunately this request cannot be finished due to the following reason:</h4>
            <h4><em>"{{var message}}"</em></h4>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}