<?xml version="1.0"?>
<config>
    <modules>
        <Blugento_SeoEnhancements>
            <version>1.0.0</version>
        </Blugento_SeoEnhancements>
    </modules>
    <global>
        <blocks>
            <blugento_seoenhancements>
                <class>Blugento_SeoEnhancements_Block</class>
            </blugento_seoenhancements>
            <review>
                <rewrite>
                    <view>Blugento_SeoEnhancements_Block_Review_View</view>
                </rewrite>
            </review>
            <page>
                <rewrite>
                    <html_head>Blugento_SeoEnhancements_Block_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <models>
            <blugento_seoenhancements>
                <class>Blugento_SeoEnhancements_Model</class>
            </blugento_seoenhancements>
            <catalog>
                <rewrite>
                    <url>Blugento_SeoEnhancements_Model_Url</url>
                </rewrite>
            </catalog>
        </models>
        <helpers>
            <blugento_seoenhancements>
                <class>Blugento_SeoEnhancements_Helper</class>
            </blugento_seoenhancements>
            <catalog>
                <rewrite>
                    <category>Blugento_SeoEnhancements_Helper_Category</category>
                </rewrite>
            </catalog>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <blugento_seoenhancements>
                        <class>blugento_seoenhancements/observer</class>
                        <method>update</method>
                    </blugento_seoenhancements>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <noindex>
                        <type>singleton</type>
                        <class>blugento_seoenhancements/observer</class>
                        <method>changeRobots</method>
                    </noindex>
                </observers>
            </controller_action_layout_generate_xml_before>
        </events>
        <layout>
            <updates>
                <blugento_seoenhancements>
                    <file>blugento_seoenhancements.xml</file>
                </blugento_seoenhancements>
            </updates>
        </layout>
        <translate>
            <modules>
                <blugento_seoenhancements>
                    <files>
                        <default>Blugento_SeoEnhancements.csv</default>
                    </files>
                </blugento_seoenhancements>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <blugento_seoenhancements>
                    <files>
                        <default>Blugento_SeoEnhancements.csv</default>
                    </files>
                </blugento_seoenhancements>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <blugento_seoenhancements>
            <enhancements_group>
                <category_use_parentcategory>0</category_use_parentcategory>
                <dir_order_canonical>1</dir_order_canonical>
                <viewport_user_scalable>0</viewport_user_scalable>
                <viewport_maximum_scale>1</viewport_maximum_scale>
            </enhancements_group>
        </blugento_seoenhancements>
    </default>
</config>
