<?xml version="1.0"?>
<config>
    <modules>
        <Blugento_Checkout>
            <version>1.0.4</version>
        </Blugento_Checkout>
    </modules>
    <global>
        <helpers>
            <blugento_checkout>
                <class>Blugento_Checkout_Helper</class>
            </blugento_checkout>
        </helpers>
        <models>
            <blugento_checkout>
                <class>Blugento_Checkout_Model</class>
            </blugento_checkout>
        </models>
        <resources>
            <blugento_checkout_setup>
                <setup>
                    <module>Blugento_Checkout</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blugento_checkout_setup>
            <checkout_services_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </checkout_services_write>
            <checkout_services_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </checkout_services_read>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <blugento_checkout>
                                            <title>Blugento Checkout Settings</title>
                                        </blugento_checkout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <blugentocheckout>
                <use>standard</use>
                <args>
                    <module>Blugento_Checkout</module>
                    <frontName>blugentocheckout</frontName>
                </args>
            </blugentocheckout>
        </routers>
        <layout>
            <updates>
                <blugento_checkout>
                    <file>blugento_checkout.xml</file>
                </blugento_checkout>
            </updates>
        </layout>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <saveOrderComment>
                        <class>blugento_checkout/observer</class>
                        <method>saveOrderComment</method>
                    </saveOrderComment>
                </observers>
            </checkout_type_onepage_save_order>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <saveOrderComment>
                        <class>blugento_checkout/observer</class>
                        <method>saveOrderComment</method>
                    </saveOrderComment>
                </observers>
            </checkout_type_multishipping_create_orders_single>
        </events>
    </frontend>
    <default>
        <blugento_checkout>
            <general>
                <enabled>1</enabled>
            </general>
        </blugento_checkout>
        <general>
            <country>
                <optional_zip_countries>AF,AL,DZ,AS,AD,AO,AI,AQ,AG,AR,AM,AW,AU,AT,AX,AZ,BS,BH,BD,BB,BY,BE,BZ,BJ,BM,BL,BT,BO,BA,BW,BV,BR,IO,VG,BN,BG,BF,BI,KH,CM,CA,CD,CV,KY,CF,TD,CL,CN,CX,CC,CO,KM,CG,CK,CR,HR,CU,CY,CZ,DK,DJ,DM,DO,EC,EG,SV,GQ,ER,EE,ET,FK,FO,FJ,FI,FR,GF,PF,TF,GA,GM,GE,DE,GG,GH,GI,GR,GL,GD,GP,GU,GT,GN,GW,GY,HT,HM,HN,HK,HU,IS,IM,IN,ID,IR,IQ,IE,IL,IT,CI,JE,JM,JP,JO,KZ,KE,KI,KW,KG,LA,LV,LB,LS,LR,LY,LI,LT,LU,ME,MF,MO,MK,MG,MW,MY,MV,ML,MT,MH,MQ,MR,MU,YT,FX,MX,FM,MD,MC,MN,MS,MA,MZ,MM,NA,NR,NP,NL,AN,NC,NZ,NI,NE,NG,NU,NF,KP,MP,NO,OM,PK,PW,PA,PG,PY,PE,PH,PN,PL,PS,PT,PR,QA,RE,RO,RS,RU,RW,SH,KN,LC,PM,VC,WS,SM,ST,SA,SN,SC,SL,SG,SK,SI,SB,SO,ZA,GS,KR,ES,LK,SD,SR,SJ,SZ,SE,CH,SY,TL,TW,TJ,TZ,TH,TG,TK,TO,TT,TN,TR,TM,TC,TV,VI,UG,UA,AE,GB,US,UM,UY,UZ,VU,VA,VE,VN,WF,EH,YE,ZM,ZW</optional_zip_countries>
            </country>
        </general>
    </default>
</config>
