/*! ----------------------------------------------------------------------------
    Filename:       module/_catalog-product-view4.scss
    Version:        1.0
    Description:    Product Details Page - Showcase Template in Mirror
    ------------------------------------------------------------------------- */

@if ($layout--product-view == 4) {
    .product-usp-wrapper {
        display: -webkit-flex;
        display: -moz-box;
        display: -o-flex;
        display: flex;
        align-items: flex-start;
        flex-flow: row wrap;
        
        .product-usp-item {
            flex-basis: 100%;
            padding: 8px 0;
        }
    }
    
    .product-collateral {
        clear: left;
    }

    @include desktop {
        .product-view {
            .product-img-box {
                float: right;
                width: 55.6%;
            }

            .product-shop,
            .box-tags {
                clear: left;
                float: left;
                width: 40%;
            }
        }

        .product-collateral {
            float: left;
            width: 40%;
            margin-top: 30px;
        }
    }
}
