/*! ----------------------------------------------------------------------------
    Filename:       module/_catalog-product-view-shop1.scss
    Version:        1.0
    Description:    Product Details Page - Shop - 1
    ------------------------------------------------------------------------- */

@if ($layout--product-view_shop_layout == 1) {
    // Styles for layout 1
}
