/*! ----------------------------------------------------------------------------
    Filename:       module/_catalog-product-view-specification.scss
    Version:        1.0
    Description:    Product Details Page - General Styles
    ------------------------------------------------------------------------- */

@import 'catalog-product-view-specification4';
@import 'catalog-product-view-specification3';
@import 'catalog-product-view-specification2';

