/*! ----------------------------------------------------------------------------
    Filename:       module/_checkout.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- */
