/*! ----------------------------------------------------------------------------
    Filename:       module/_page-header-order-icons.scss
    Version:        1.0
    Description:    Product Details Page - General Styles
    ------------------------------------------------------------------------- */

@import 'page-header-order-icons8.scss';
@import 'page-header-order-icons7.scss';
@import 'page-header-order-icons6.scss';
@import 'page-header-order-icons5.scss';
@import 'page-header-order-icons4.scss';
@import 'page-header-order-icons3.scss';
@import 'page-header-order-icons2.scss';
@import 'page-header-order-icons1.scss';