<!--@title Kontakt @-->
<!--@identifier kontakt @-->
<!--@root_template one_column @-->
<div class="row contact-page-container">
    <div class="col-6 col-sm-12 info-form">
        <div class="info">
            <h2>Company Information</h2>
            <p>Blushop Company - Registration 289.44/2016</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a risus sit amet lorem sodales commodo quis sed nisl. Maecenas non velit in nunc condimentum fermentum vitae eget massa. Fusce interdum erat in finibus molestie. Integer egestas ornare justo, eget rutrum diam dapibus non.</p>
        </div>
        {{block type="core/template" name="contactForm" form_action="/contacts/index/post" template="blugento/contacts/form.phtml"}}
    </div>

    <div class="col-6 col-sm-12 addresses">
        <div class="address">
            <h2>BluShop Name 1</h2>
            <p class="location">Street Address 1/23, CityName, Country 123456, Country</p>
            <img src="https://placeholdit.imgix.net/~text?txtsize=60&txt=560%C3%97180&w=560&h=180" alt="picture"/>
            <ul class="program">
                <li>Monday - Friday -- 09:00 - 22:00</li>
                <li>Saturday - Sunday -- 09:00 - 14:00</li>
            </ul>
            <ul>
                <li><a href="mailto:contact@blushopname1.com" rel="noopener" target="_blank">contact@blushopname1.com</a></li>
                <li>024 889 221 / 024 889 222</li>
            </ul>
        </div>
        <div class="address">
            <h2>BluShop Name 1</h2>
            <p class="location">Street Address 1/23, CityName, Country 123456, Country</p>
            <img src="https://placeholdit.imgix.net/~text?txtsize=60&txt=560%C3%97180&w=560&h=180" alt="picture"/>
            <ul class="program">
                <li>Monday - Friday -- 09:00 - 22:00</li>
                <li>Saturday - Sunday -- 09:00 - 14:00</li>
            </ul>
            <ul>
                <li><a href="mailto:contact@blushopname1.com" rel="noopener" target="_blank">contact@blushopname1.com</a></li>
                <li>024 889 221 / 024 889 222</li>
            </ul>
        </div>
    </div>
</div>
