/*! ----------------------------------------------------------------------------
    Filename:       config.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- */

@import 'config/core';
