/*! ----------------------------------------------------------------------------
    Filename:       core/util.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- */

//  ----------------------------------------------------------------------------
//  1. Box model
//  ----------------------------------------------------------------------------

.cf,
%cf {
    @include cf();
}

//  ----------------------------------------------------------------------------
//  2. Typography
//  ----------------------------------------------------------------------------

//  ----------------------------------------------------------------------------
//  3. Forms
//  ----------------------------------------------------------------------------

//  ----------------------------------------------------------------------------
//  4. Images
//  ----------------------------------------------------------------------------

//  ----------------------------------------------------------------------------
//  5. Device
//  ----------------------------------------------------------------------------
