<?xml version="1.0"?>
<config>
    <modules>
        <Blugento_Googleshopping>
            <version>1.8.5</version>
        </Blugento_Googleshopping>
    </modules>
    <global>
        <helpers>
            <googleshopping>
                <class>Blugento_Googleshopping_Helper</class>
            </googleshopping>
        </helpers>
        <blocks>
            <googleshopping>
                <class>Blugento_Googleshopping_Block</class>
            </googleshopping>
        </blocks>
        <models>
            <googleshopping>
                <class>Blugento_Googleshopping_Model</class>
            </googleshopping>
        </models>
        <resources>
            <blugento_googleshopping_setup>
                <setup>
                    <module>Blugento_Googleshopping</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blugento_googleshopping_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <blugento_googleshopping after="Mage_Adminhtml">Blugento_Googleshopping_Adminhtml</blugento_googleshopping>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <googleshopping>
                    <file>blugento_googleshopping.xml</file>
                </googleshopping>
            </updates>
        </layout>
        <translate>
            <modules>
                <blugento_googleshopping>
                    <files>
                        <default>Blugento_Googleshopping.csv</default>
                    </files>
                </blugento_googleshopping>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <googleshopping>
            <general>
                <enabled>0</enabled>
            </general>
            <data>
                <id>sku</id>
                <name>name</name>
                <description>description</description>
                <condition_type>fixed</condition_type>
                <condition_fixed>new</condition_fixed>
                <gtin>sku</gtin>
                <brand>manufacturer</brand>
                <category_type>fixed</category_type>
            </data>
            <filter>
                <visibility_inc>4</visibility_inc>
            </filter>
            <generate>
                <enabled>1</enabled>
                <filename>shopping.xml</filename>
                <cron>0</cron>
                <limit>500</limit>
                <cron_schedule>0 0 * * *</cron_schedule>
                <memory_limit>1024M</memory_limit>
                <max_execution_time>300</max_execution_time>
                <overwrite>0</overwrite>
            </generate>
            <advanced>
                <identifier>1</identifier>
                <producttype>1</producttype>
            </advanced>
        </googleshopping>
    </default>
    <crontab>
        <jobs>
            <googleshopping_generate>
                <run>
                    <model>googleshopping/observer::scheduledGenerateGoogleshopping</model>
                </run>
            </googleshopping_generate>
        </jobs>
    </crontab>
</config>