/*! ----------------------------------------------------------------------------
    Filename:       config/_grunt.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- */

$grunt--build: 'release' !default;
