<?xml version="1.0"?>
<config>
    <modules>
        <Blugento_CategoryShowcase>
            <version>1.0.1</version>
        </Blugento_CategoryShowcase>
    </modules>
    <global>
        <models>
            <blugento_categoryshowcase>
                <class>Blugento_CategoryShowcase_Model</class>
                <resourceModel>blugento_categoryshowcase_resource</resourceModel>
            </blugento_categoryshowcase>
            <blugento_categoryshowcase_resource>
                <class>Blugento_CategoryShowcase_Model_Resource</class>
            </blugento_categoryshowcase_resource>
            <catalog>
                <rewrite>
                    <category>Blugento_CategoryShowcase_Model_Catalog_Category</category>
                    <category_attribute_source_mode>Blugento_CategoryShowcase_Model_Catalog_Category_Attribute_Source_Mode</category_attribute_source_mode>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <blugento_categoryshowcase_setup>
                <setup>
                    <module>Blugento_CategoryShowcase</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </blugento_categoryshowcase_setup>
        </resources>
        <helpers>
            <blugento_categoryshowcase>
                <class>Blugento_CategoryShowcase_Helper</class>
            </blugento_categoryshowcase>
        </helpers>
        <blocks>
            <blugento_categoryshowcase>
                <class>Blugento_CategoryShowcase_Block</class>
            </blugento_categoryshowcase>
            <catalog>
                <rewrite>
                    <category_view>Blugento_CategoryShowcase_Block_Category_View</category_view>
                </rewrite>
            </catalog>
        </blocks>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <blugento_categoryshowcase>
                                            <title>Blugento Category Showcase</title>
                                        </blugento_categoryshowcase>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <blugento_categoryshowcase>
                    <files>
                        <default>Blugento_CategoryShowcase.csv</default>
                    </files>
                </blugento_categoryshowcase>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <blugento_categoryshowcase>
                    <file>blugento_categoryshowcase.xml</file>
                </blugento_categoryshowcase>
            </updates>
        </layout>
    </frontend>
</config>
