/*! ----------------------------------------------------------------------------
    Filename:       primecheckout.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- *//*! ----------------------------------------------------------------------------
    Filename:       function/_browser.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- *//*! ----------------------------------------------------------------------------
    Filename:       _config.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- *//*! ----------------------------------------------------------------------------
    Filename:       config/_grunt.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- *//*! ----------------------------------------------------------------------------
    Filename:       config/_design.scss
    Version:        1.0
    Description:    Colors and Images Variables
    ------------------------------------------------------------------------- *//*! ----------------------------------------------------------------------------
    Filename:       config/_image.scss
    Version:        1.0
    Description:    Default Image Variables
    ------------------------------------------------------------------------- *//*! ----------------------------------------------------------------------------
    Filename:       config/_layout.scss
    Version:        1.0
    Description:    Default Layout Variables
    ------------------------------------------------------------------------- *//*! ----------------------------------------------------------------------------
    Filename:       config/_core.scss
    Version:        1.0
    Description:    Default Core Variables
    ------------------------------------------------------------------------- *//*! ----------------------------------------------------------------------------
    Filename:       config/_component.scss
    Version:        1.0
    Description:    Default Component Variables
    ------------------------------------------------------------------------- *//*! ----------------------------------------------------------------------------
    Filename:       config/_module.scss
    Version:        1.0
    Description:    Default Modules Variables
    ------------------------------------------------------------------------- *//*! ----------------------------------------------------------------------------
    Filename:       config/_custom.scss
    Version:        1.0
    Description:    Custom Variables
    ------------------------------------------------------------------------- *//*! ----------------------------------------------------------------------------
    Filename:       mixin/_font.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- *//*! ----------------------------------------------------------------------------
    Filename:       mixin/_grid.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- *//*! ----------------------------------------------------------------------------
    Filename:       mixin/_icon.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- *//*! ----------------------------------------------------------------------------
    Filename:       mixin/_responsive.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- *//*! ----------------------------------------------------------------------------
    Filename:       mixin/_util.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- */.checkout-prime-index .opc .form-list{margin-top:0}.checkout-prime-index .opc h3,.checkout-prime-index .opc h4{margin-bottom:20px}.checkout-prime-index .opc .discount-form h5{font-size:13px;color:#a6a6a6}.checkout-prime-index .opc .order-comment,.checkout-prime-index .opc .order-discount-coupon{margin-top:25px}.checkout-prime-index .opc .order-comment li{margin-bottom:0}