/*! ----------------------------------------------------------------------------
    Filename:       mixin/util.scss
    Version:        1.0
    Description:    -
    ------------------------------------------------------------------------- */

@mixin cf() {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
