<?xml version="1.0"?>
<config>
	<modules>
		<Blugento_Review>
			<version>1.0.1</version>
		</Blugento_Review>
	</modules>
	<global>
		<models>
			<review>
				<rewrite>
					<review>Blugento_Review_Model_Review</review>
				</rewrite>
			</review>
			<review_resource>
				<rewrite>
					<!-- Resource -->
					<review>Blugento_Review_Model_Resource_Review</review>
					<!-- Collection -->
					<review_collection>Blugento_Review_Model_Resource_Review_Collection</review_collection>
				</rewrite>
			</review_resource>
			<rating_resource>
				<rewrite>
					<rating>Blugento_Review_Model_Resource_Rating</rating>
				</rewrite>
			</rating_resource>
		</models>
		<helpers>
			<review>
				<rewrite>
					<data>Blugento_Review_Helper_Data</data>
				</rewrite>
			</review>
		</helpers>
		<blocks>
			<blugento_reviews>
				<class>Blugento_Review_Block</class>
			</blugento_reviews>
			<review>
				<rewrite>
					<product_view_list>Blugento_Review_Block_Product_View_List</product_view_list>
					<helper>Blugento_Review_Block_Helper</helper>
				</rewrite>
			</review>
		</blocks>
		<resources>
			<blugento_review_setup>
				<setup>
					<module>Blugento_Review</module>
					<class>Blugento_Review_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</blugento_review_setup>
			<blugento_review_write>
				<connection>
					<use>core_write</use>
				</connection>
			</blugento_review_write>
			<blugento_review_read>
				<connection>
					<use>core_read</use>
				</connection>
			</blugento_review_read>
		</resources>
	</global>
	<frontend>
		<routers>
			<blugento_review>
				<use>standard</use>
				<args>
					<module>Blugento_Review</module>
					<frontName>blugentoreview</frontName>
				</args>
			</blugento_review>
		</routers>
		<translate>
			<modules>
				<blugento_review>
					<files>
						<default>Blugento_Review.csv</default>
					</files>
				</blugento_review>
			</modules>
		</translate>
	</frontend>
	<default>
		<catalog>
			<review>
				<enhanced_reviews>1</enhanced_reviews>
			</review>
		</catalog>
	</default>
</config> 