<?xml version="1.0"?>
<config>
    <modules>
        <Blugento_Multiproducts>
            <version>1.0.0</version>
        </Blugento_Multiproducts>
    </modules>
    <global>
        <blocks>
            <multiproducts>
                <class>Blugento_Multiproducts_Block</class>
            </multiproducts>
        </blocks>
        <models>
            <multiproducts>
                <class>Blugento_Multiproducts_Model</class>
            </multiproducts>
        </models>
        <helpers>
            <multiproducts>
                <class>Blugento_Multiproducts_Helper</class>
            </multiproducts>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <multiproducts>
                    <file>blugento_multiproducts.xml</file>
                </multiproducts>
            </updates>
        </layout>
        <translate>
            <modules>
                <Blugento_Multiproducts>
                    <files>
                        <default>Blugento_Multiproducts.csv</default>
                    </files>
                </Blugento_Multiproducts>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <blugento_multiproducts before="Mage_Adminhtml">Blugento_Multiproducts_Adminhtml</blugento_multiproducts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
