/*! ----------------------------------------------------------------------------
    Filename:       module/_gdpr-pop-up.scss
    Version:        1.0
    Description:    Gdpr Pop Up - General Styles
    ------------------------------------------------------------------------- */