<?xml version="1.0"?>
<config>
    <modules>
        <Blugento_CookieNotice>
            <version>1.0.0</version>
        </Blugento_CookieNotice>
    </modules>
    <global>
        <blocks>
            <page>
                <rewrite>
                    <html_cookieNotice>Blugento_CookieNotice_Block_Html_CookieNotice</html_cookieNotice>
                </rewrite>
            </page>
        </blocks>
    </global>
</config>