<?xml version="1.0"?>
<config>
    <modules>
        <Blugento_AlsoViewed>
            <version>1.0.0</version>
        </Blugento_AlsoViewed>
    </modules>
    <global>
        <blocks>
            <blugento_alsoviewed>
                <class>Blugento_AlsoViewed_Block</class>
            </blugento_alsoviewed>
        </blocks>
        <models>
            <blugento_alsoviewed>
                <class>Blugento_AlsoViewed_Model</class>
                <resourceModel>blugento_alsoviewed_resource</resourceModel>
            </blugento_alsoviewed>
            <blugento_alsoviewed_resource>
                <class>Blugento_AlsoViewed_Model_Resource</class>
                <entities>
                    <alsoviewed>
                        <table>blugento_alsoviewed</table>
                    </alsoviewed>
                </entities>
            </blugento_alsoviewed_resource>
        </models>
        <resources>
            <blugento_alsoviewed_setup>
                <setup>
                    <module>Blugento_AlsoViewed</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blugento_alsoviewed_setup>
        </resources>
        <helpers>
            <blugento_alsoviewed>
                <class>Blugento_AlsoViewed_Helper</class>
            </blugento_alsoviewed>
        </helpers>
        <events>
            <catalog_controller_product_view>
                <observers>
                    <blugento_alsoviewed>
                        <type>model</type>
                        <class>blugento_alsoviewed/observer</class>
                        <method>catalogControllerProductView</method>
                        <args></args>
                    </blugento_alsoviewed>
                </observers>
            </catalog_controller_product_view>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <blugento_alsoviewed>
                    <file>blugento_alsoviewed.xml</file>
                </blugento_alsoviewed>
            </updates>
        </layout>
        <translate>
            <modules>
                <Blugento_AlsoViewed>
                    <files>
                        <default>Blugento_AlsoViewed.csv</default>
                    </files>
                </Blugento_AlsoViewed>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <blugento_alsoviewed before="Mage_Adminhtml">Blugento_AlsoViewed_Adminhtml</blugento_alsoviewed>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
