<?xml version="1.0"?>
<config>
    <modules>
        <Blugento_AdminTheme>
            <version>1.0.0</version>
        </Blugento_AdminTheme>
    </modules>
    <stores>
        <admin>
            <design>
                <package>
                    <name>blugento</name>
                </package>
                <theme>
                    <default>default</default>
                </theme>
            </design>
        </admin>
    </stores>
    <global>
        <helpers>
            <blugento_admintheme>
                <class>Blugento_AdminTheme_Helper</class>
            </blugento_admintheme>
        </helpers>
        <models>
            <blugento_admintheme>
                <class>Blugento_AdminTheme_Model</class>
            </blugento_admintheme>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <blugento_admintheme>
                    <file>blugento_admintheme.xml</file>
                </blugento_admintheme>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <redirect_admin_to_base_url>
                        <class>blugento_admintheme/observer</class>
                        <method>redirectAdminToBaseUrl</method>
                    </redirect_admin_to_base_url>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <default>
        <sales>
            <general>
                <display_weight_on_order>0</display_weight_on_order>
            </general>
        </sales>
    </default>
</config>
