<?xml version="1.0"?>
<config>
  <modules>
    <Blugento_DeliveryDay>
      <version>1.0.0</version>
    </Blugento_DeliveryDay>
  </modules>
  <global>
    <helpers>
      <delivery_day>
        <class>Blugento_DeliveryDay_Helper</class>
      </delivery_day>
    </helpers>
	<blocks>
	  <delivery_day>
		<class>Blugento_DeliveryDay_Block</class>
      </delivery_day>
	</blocks>
      <models>
          <delivery_day>
              <class>Blugento_DeliveryDay_Model</class>
          </delivery_day>
      </models>
      <resources>
          <delivery_day_setup>
              <setup>
                  <module>Blugento_DeliveryDay</module>
                  <class>Mage_Core_Model_Resource_Setup</class>
              </setup>
          </delivery_day_setup>
      </resources>
      <sales>
          <quote>
              <item>
                  <product_attributes>
                      <delivery_day_min />
                      <delivery_day_max />
                  </product_attributes>
              </item>
          </quote>
      </sales>
  </global>
    <frontend>
        <translate>
            <modules>
                <delivery_day>
                    <files>
                        <default>Blugento_DeliveryDay.csv</default>
                    </files>
                </delivery_day>
            </modules>
        </translate>
        <layout>
            <updates>
                <delivery_day module="Blugento_DeliveryDay">
                    <file>delivery_day.xml</file>
                </delivery_day>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <delivery_day>
                    <files>
                        <default>Blugento_DeliveryDay.csv</default>
                    </files>
                </delivery_day>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <delivery_day>
            <general>
                <extra_day_hour>17:30</extra_day_hour>
            </general>
        </delivery_day>
    </default>
</config> 