/*! ----------------------------------------------------------------------------
    Filename:       core/_typography.scss
    Version:        1.0
    Description:    Set up some sensible default typography
    ------------------------------------------------------------------------- */

//  ----------------------------------------------------------------------------
//  1. Default font settings
//  ----------------------------------------------------------------------------

body {
    font-style: $font-style;
    font-size: $font-size;
    line-height: ($line-height / $font-size);
    letter-spacing: $letter-spacing;
    -webkit-text-size-adjust: none;
}

body,
input,
select,
textarea,
th,
td {
    font-family: $font-family-base;
}

//  ----------------------------------------------------------------------------
//  2. Text elements
//  ----------------------------------------------------------------------------

h1 { }

h2 { }

h3 { }

h4 { }

h5 { }

h6 { }

em,
i { }

p { }

b,
strong { }

address { }

cite { }

q,
blockquote { }

small { }

big { }

sub { }

sup { }

//  ----------------------------------------------------------------------------
//  3. Links
//  ----------------------------------------------------------------------------

a {
    &:link,
    &:visited {
        text-decoration: none;
        color: inherit;
    }

    &:hover,
    &:active {
        text-decoration: underline;
        color: inherit;
    }

    span {
        line-height: inherit;
    }
}

//  ----------------------------------------------------------------------------
//  4. Lists
//  ----------------------------------------------------------------------------

ol li {
    list-style-type: none;
}

//  ----------------------------------------------------------------------------
//  5. Tables
//  ----------------------------------------------------------------------------

table { }

tfoot,
tbody {
    th,
    td {
        text-align: left;
        vertical-align: top;
    }
}
