<?xml version="1.0"?>
<config>
    <modules>
        <Blugento_Sales>
            <version>1.0.0</version>
        </Blugento_Sales>
    </modules>
    <global>
        <helpers>
            <blugento_sales>
                <class>Blugento_Sales_Helper</class>
            </blugento_sales>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <blugento_sales>
                    <files>
                        <default>Blugento_Sales.csv</default>
                    </files>
                </blugento_sales>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <blugento_sales>
                    <files>
                        <default>Blugento_Sales.csv</default>
                    </files>
                </blugento_sales>
            </modules>
        </translate>
    </frontend>
</config>