<?xml version="1.0"?>
<config>
    <modules>
        <Blugento_Newsletter>
            <version>0.1.0</version>
        </Blugento_Newsletter>
    </modules>
    <global>
        <blocks>
            <blugentonewsletter>
                <class>Blugento_Newsletter_Block</class>
            </blugentonewsletter>
        </blocks>
        <helpers>
            <blugentonewsletter>
                <class>Blugento_Newsletter_Helper</class>
            </blugentonewsletter>
        </helpers>
        <models>
            <blugento_newsletter>
                <class>Blugento_Newsletter_Model</class>
            </blugento_newsletter>
            <newsletter>
                <rewrite>
                    <observer>Blugento_Newsletter_Model_Rewrite_Observer</observer>
                </rewrite>
            </newsletter>
        </models>
    </global>
    <frontend>
        <routers>
            <blugentonewsletter>
                <use>standard</use>
                <args>
                    <module>Blugento_Newsletter</module>
                </args>
            </blugentonewsletter>
            <newsletter>
                <args>
                    <modules>
                        <Blugento_Newsletter before="Mage_Newsletter">Blugento_Newsletter</Blugento_Newsletter>
                    </modules>
                </args>
            </newsletter>
        </routers>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <blugento_newsletter>
                        <class>blugento_newsletter/observer</class>
                        <method>saveNewsletterSubscriber</method>
                    </blugento_newsletter>
                </observers>
            </checkout_type_onepage_save_order>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <blugento_newsletter>
                        <class>blugento_newsletter/observer</class>
                        <method>saveNewsletterSubscriber</method>
                    </blugento_newsletter>
                </observers>
            </checkout_type_multishipping_create_orders_single>
        </events>
    </frontend>
</config>
