<!--@subject  {{var store.getFrontendName()}}: Factura # {{var invoice.increment_id}} pentru comanda # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var invoice.increment_id":"Invoice Id",
"var order.increment_id":"Order Id",
"var order.billing_address.format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.shipping_address.format('html')":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"layout area=\"frontend\" handle=\"sales_email_order_invoice_items\" invoice=$invoice order=$order":"Invoice Items Grid",
"var comment":"Invoice Comment"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="email-heading">
                        <span class="email-heading-image">
                            <img src="{{skin url=images/icon--checked-mail.png}}" alt="Checked icon" title="Checked Icon" />
                        </span>
                        <h1>A (z) {{var store.getFrontendName()}} tól kapott megrendelését kiszámlázta.</h1>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <table cellpadding="0" cellspacing="0" border="0" class="order-details-wrapper">
            <tr>
                <th><h4>Az Ön számlája</h4></th>
                <th><h4>Sorrend</h4></th>
            </tr>
            <tr>
                <td>
                    <strong><span class="no-link">#{{var invoice.increment_id}}</span></strong>
                </td>
                <td>
                    <strong><span class="no-link">#{{var order.increment_id}}</span></strong>
                </td>
            </tr>
        </table>
    </tr>
    <tr class="order-information">
        <td>
            <table cellpadding="0" cellspacing="0" border="0" class="order-details-shipping">
                <tr>
                    <td class="address-details">
                        <h4>Számla:</h4>
                        <p><span class="no-link">{{var order.billing_address.format('html')}}</span></p>
                    </td>
                    {{depend order.getIsNotVirtual()}}
                    <td class="address-details">
                        <h4>Kiszállítás:</h4>
                        <p><span class="no-link">{{var order.shipping_address.format('html')}}</span></p>
                    </td>
                    {{/depend}}
                </tr>
                <tr>
                    {{depend order.getIsNotVirtual()}}
                    <td class="method-info">
                        <h4>Szállítási Mód:</h4>
                        <p>{{var order.shipping_description}}</p>
                    </td>
                    {{/depend}}
                    <td class="method-info">
                        <h4>Fizetési mód:</h4>
                        {{var payment_html}}
                    </td>
                </tr>
            </table>
            {{if comment}}
            <table cellspacing="0" cellpadding="0" class="message-container">
                <tr>
                    <td>{{var comment}}</td>
                </tr>
            </table>
            {{/if}}
            <table cellpadding="0" cellspacing="0" border="0" class="order-items-details">
                <tr>
                    <td>
                        {{layout area="frontend" handle="sales_email_order_invoice_items" invoice=$invoice order=$order}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="store-info">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td><h3>Rendelési kérdések?</h3></td>
                </tr>
                <tr>
                    <td>
                        {{depend store_phone}}
                        <h4>Hívjon minket:</h4><br />
                        <p>
                            <a href="tel:{{var phone}}">{{var store_phone}}</a>
                        </p>
                        {{/depend}}
                        {{depend store_hours}}
                        <p>
                            <span class="no-link">{{var store_hours}}</span>
                        </p>
                        {{/depend}}
                    </td>
                    <td>
                        {{depend store_email}}
                        <h4>Email:</h4>
                        <p>
                            <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                        </p>
                        {{/depend}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
