<?xml version="1.0"?>
<config>
    <modules>
        <Blugento_AjaxCart>
            <version>1.0.0</version>
        </Blugento_AjaxCart>
    </modules>
    <global>
        <models>
            <blugento_ajaxcart>
                <class>Blugento_AjaxCart_Model</class>
            </blugento_ajaxcart>
        </models>
        <blocks>
            <blugento_ajaxcart>
                <class>Blugento_AjaxCart_Block</class>
            </blugento_ajaxcart>
        </blocks>
        <helpers>
            <blugento_ajaxcart>
                <class>Blugento_AjaxCart_Helper</class>
            </blugento_ajaxcart>
        </helpers>
        <rewrite>
            <blugento_ajaxcart_checkout_cart>
                <from><![CDATA[#^/checkout/cart/#]]></from>
                <to>/ajaxcart/checkout_cart/</to>
            </blugento_ajaxcart_checkout_cart>
        </rewrite>
    </global>
    <frontend>
        <routers>
            <blugento_ajaxcart>
                <use>standard</use>
                <args>
                    <module>Blugento_AjaxCart</module>
                    <frontName>ajaxcart</frontName>
                </args>
            </blugento_ajaxcart>
        </routers>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <blugento_ajaxcart>
                        <type>singleton</type>
                        <class>blugento_ajaxcart/observer</class>
                        <method>addToCartEvent</method>
                    </blugento_ajaxcart>
                </observers>
            </checkout_cart_add_product_complete>
            <checkout_cart_update_item_complete>
                <observers>
                    <blugento_ajaxcart>
                        <type>singleton</type>
                        <class>blugento_ajaxcart/observer</class>
                        <method>updateItemEvent</method>
                    </blugento_ajaxcart>
                </observers>
            </checkout_cart_update_item_complete>
            <!-- configurable products -->
            <controller_action_postdispatch_catalog_product_view>
                <observers>
                    <blugento_ajaxcart>
                        <class>blugento_ajaxcart/observer</class>
                        <method>getConfigurableOptions</method>
                    </blugento_ajaxcart>
                </observers>
            </controller_action_postdispatch_catalog_product_view>
            <!-- group products -->
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <blugento_ajaxcart>
                        <type>singleton</type>
                        <class>blugento_ajaxcart/observer</class>
                        <method>getGroupProductOptions</method>
                    </blugento_ajaxcart>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
        </events>
        <layout>
            <updates>
                <blugento_ajaxcart>
                    <file>blugento_ajaxcart.xml</file>
                </blugento_ajaxcart>
            </updates>
        </layout>
        <translate>
            <modules>
                <blugento_ajaxcart>
                    <files>
                        <default>Blugento_AjaxCart.csv</default>
                    </files>
                </blugento_ajaxcart>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <blugento_ajaxcart>
                                            <title>Blugento AjaxCart Settings</title>
                                        </blugento_ajaxcart>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <blugento_ajaxcart>
                    <files>
                        <default>Blugento_AjaxCart.csv</default>
                    </files>
                </blugento_ajaxcart>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <blugento_ajaxcart>
            <general>
                <enable>1</enable>
                <checkout_redirect>cart</checkout_redirect>
                <enableImgPrice>1</enableImgPrice>
            </general>
        </blugento_ajaxcart>
    </default>
</config>
