<?xml version="1.0"?>
<config>
    <modules>
        <Magento_Corefixes>
            <version>1.0.0</version>
        </Magento_Corefixes>
    </modules>
    <global>
        <helpers>
            <magento_corefixes>
                <class>Magento_Corefixes_Helper</class>
            </magento_corefixes>
        </helpers>
        <models>
            <magento_corefixes>
                <class>Magento_Corefixes_Model</class>
            </magento_corefixes>
            <catalogrule>
                <rewrite>
                    <action_index_refresh>Magento_Corefixes_Model_Action_Index_Refresh</action_index_refresh>
                    <resource_rule>Magento_Corefixes_Model_Resource_Rule</resource_rule>
                </rewrite>
            </catalogrule>
            <core_resource>
                <rewrite>
                    <url_rewrite_request>Magento_Corefixes_Model_Url_Rewrite_Request</url_rewrite_request>
                </rewrite>
            </core_resource>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_checkout_cart_couponPost>
                <observers>
                    <remove_session_coupon_code>
                        <type>singleton</type>
                        <class>magento_corefixes/observer</class>
                        <method>removeCoupon</method>
                    </remove_session_coupon_code>
                </observers>
            </controller_action_predispatch_checkout_cart_couponPost>
        </events>
    </frontend>
    <crontab>
        <jobs>
            <delete_failed_jobs>
                <schedule>
                    <cron_expr>0 */4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>magento_corefixes/observer::deleteFailedJobs</model>
                </run>
            </delete_failed_jobs>
            <reindex_prices>
                <run>
                    <model>magento_corefixes/observer::reindexPrices</model>
                </run>
            </reindex_prices>
        </jobs>
    </crontab>
    <default>
        <system>
            <log>
                <enable_log>1</enable_log>
                <clean_after_day>15</clean_after_day>
            </log>
        </system>
    </default>
</config>
