<?xml version="1.0"?>
<config>
    <modules>
        <Blugento_Theme>
            <version>1.0.19</version>
        </Blugento_Theme>
    </modules>
    <global>
        <blocks>
            <blugento_theme>
                <class>Blugento_Theme_Block</class>
            </blugento_theme>
            <catalog>
                <rewrite>
                    <product_list>Blugento_Theme_Block_Catalog_Product_List</product_list>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <cart_crosssell>Blugento_Theme_Block_Cart_Crosssell</cart_crosssell>
                </rewrite>
            </checkout>
            <catalog>
                <rewrite>
                    <product_list_related>Blugento_Theme_Block_Catalog_Product_List_Related</product_list_related>
                </rewrite>
            </catalog>
            <catalog>
                <rewrite>
                    <product_list_upsell>Blugento_Theme_Block_Catalog_Product_List_Upsell</product_list_upsell>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <blugento_theme>
                <class>Blugento_Theme_Helper</class>
            </blugento_theme>
        </helpers>
        <models>
            <blugento_theme>
                <class>Blugento_Theme_Model</class>
            </blugento_theme>
            <core>
                <rewrite>
                    <layout_update>Blugento_Theme_Model_Layout_Update</layout_update>
                </rewrite>
            </core>
        </models>
        <resources>
            <blugento_theme_setup>
                <setup>
                    <module>Blugento_Theme</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blugento_theme_setup>
            <blugento_theme_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blugento_theme_write>
            <blugento_theme_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blugento_theme_read>
        </resources>
        <events>
            <catalog_block_product_list_collection>
                <observers>
                    <Blugento_Theme_Model_Observer>
                        <type>singleton</type>
                        <class>blugento_theme/observer</class>
                        <method>createCustomRegistry</method>
                    </Blugento_Theme_Model_Observer>
                </observers>
            </catalog_block_product_list_collection>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <blugento_theme>
                                            <title>Blugento Theme</title>
                                        </blugento_theme>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		 <translate>
            <modules>
                <blugento_theme>
                    <files>
                        <default>Blugento_Theme.csv</default>
                    </files>
                </blugento_theme>
            </modules>
        </translate>
    </adminhtml>
	<frontend>
        <translate>
            <modules>
                <blugento_theme>
                    <files>
                        <default>Blugento_Theme.csv</default>
                    </files>
                </blugento_theme>
            </modules>
        </translate>
    </frontend>
    <default>
        <blugento_theme>
            <general_nl2br>
                <enable>2</enable>
                <show_sku_on_list>0</show_sku_on_list>
                <ratings_on_list>0</ratings_on_list>
                <manufacturer_display_view>0</manufacturer_display_view>
            </general_nl2br>
        </blugento_theme>
    </default>
</config>
