/*! ----------------------------------------------------------------------------
    Filename:       module/_product-list-sort-by.scss
    Version:        1.0
    Description:    Product Details Page - General Styles
    ------------------------------------------------------------------------- */

@import 'catalog-product-list-sort-by4.scss';
@import 'catalog-product-list-sort-by3.scss';
