/*! ----------------------------------------------------------------------------
    Filename:       module/_catalog-product-view-specification2.scss
    Version:        1.0
    Description:    Header Layout: Version 3
    ------------------------------------------------------------------------- */

@if ($layout--product-view_specification-order == 2) {
}