/*! ----------------------------------------------------------------------------
    Filename:       module/_wishlist-blocks.scss
    Version:        1.0
    Description:    Wishlist - Aside Blocks Styles
    ------------------------------------------------------------------------- */

@import '../mixin/_util.scss';

.block-wishlist {
    @include cf;

    .product-image {
        display: block;
        float: left;
        width: 30%;
    }

    .product-details {
        position: relative;
        float: left;
        width: 70%;

        .btn-remove {
            position: absolute;
            top: 0;
            right: 10px;
        }

        .old-price,
        .special-price {
            float: left;
        }

        .link-cart {
            display: block;
            clear: left;
            color: $color--third;
        }
    }

    .product-name {
        width: 85%;
    }
}
