$color--primary: #000000;
$color--secondary: #FFFFFF;
$color--third: #0076BF;
$color--fourth: #F68933;
$color--fifth: #F9DCB0;
$badge--sale_display: block;
$badge--new_display: block;
$message--error__background-color: #D04437;
$message--notice_background-color: #3572B0;
$message--success_background-color: #8EB021;
