$layout--debug_mode: 2;
$layout--page_background-image: 2;
$layout--page_background-repeat: no-repeat;
$layout--preloader_status: 2;
$layout--to_top: 1;
$layout--cookie-notice: 3;
$layout--sticky_header: 2;
$layout--full-layout_mode: 2;
$layout--homepage-banner_layout: 1;
$layout--wishlist_display: 1;
$layout--header_layout: 1;
$layout--nav_layout: 2;
$layout--layered-nav_position: 1;
$layout--mini-cart_layout: 1;
$layout--blog_link: 1;
$layout--footer_marketing_mode: 1;
$layout--product-list_page_layout: 1;
$layout--layered-nav_layout: 1;
$layout--product-list_item_box: 1;
$layout--product-list_item_title_description_display: 1;
$layout--product-list_image_width: auto;
$layout--product-list_add-to-links: 1;
$layout--product-list_breadcrumbs_title: 1;
$layout--product-list_discount_percentage_mode: 2;
$layout--product-list_discount_mode: 2;
$layout--product_list_add_to_cart_status: 2;
$layout--product-view_page_layout: 1;
$layout--product-view: 1;
$layout--product-view_shop_layout: 1;
$layout--product-view_tabs-style: 1;
$layout--product-view_gallery_orientation: 1;
$layout--product-view_mobile_gallery_orientation: 1;
$layout--product-view_gallery_images_count: 3;
$layout--product-view_gallery_images_count_mobile: 3;
$layout--product-view_main_image_action: 1;
$layout--product-view_group_attributes_status: 2;
$layout--product-view_reviews_mode: 2;
$layout--product-view_discount_percentage_mode: 2;
$layout--product-view_discount_mode: 2;
$layout--product-view_add_to_cart_quantity_buttons_status: 2;
$layout--checkout_cart_clear_button: 2;
$layout--checkout_cart_shipping_section: 2;
$layout--checkout_cart_product_thumbnail: 1;
$layout--checkout_cart_product_unit_price: 1;
$layout--checkout_cart_layout: 1;
$layout--checkout_cart_add_to_cart_quantity_buttons_status: 2;
$layout--checkout_billing_address_layout: 1;
$layout--checkout_shipping_address_layout: 1;
$layout--checkout_use_billing_shipping_address_above_form: 1;
$layout--checkout_agreements_position: 1;
$layout--input-text_layout: 2;
$layout--checkout_view_page_orientation: 1;
$layout--checkout-view_page_layout: 1;
$my_account_register_new_layout: 2;
$my_account_login_new_layout: 2;
$my_account_customer_new_layout: 2;
$checkout_view_new_layout: 2;