<!--@title Blugento Footer Marketing @-->
<!--@identifier blugento-footer-marketing @-->
<div class="marketing-box marketing-box--shipping"><i>&nbsp;</i>
    <div class="box-title">
        <h4>Für Bestellungen über 50 €</h4>
        <h5>Versand frei</h5>
    </div>
</div>
<div class="marketing-box marketing-box--support"><i>&nbsp;</i>
    <div class="box-title">
        <h4>Wir bieten Ihnen</h4>
        <h5>24/7 Support</h5>
    </div>
</div>
<p>{{block type="newsletter/subscribe" template="newsletter/subscribe-footer.phtml"}}</p>