<!--@title Formular zur Widerrufsbelehrung @-->
<p><strong>Bitte nutzen Sie folgende Anleitung, um Ihr Widerrufsformular korrekt in Ihren blugento Shop einzufügen: <a href="https://support-de.blugento.com/support/solutions/articles/5000645029-widerrufsbelehrung-und-widerrufsformular-einf-gen" target="blank">Widerrufsbelehrung und Widerrufsformular einfügen</a></strong></p>

<h3>Muster-Widerrufsformular</h3>
<p>
    An<br />
    <strong>
        {{block type="blugento_localizer/imprint_field" value="shop_name"}}<br />
        {{block type="blugento_localizer/imprint_field" value="company_first"}}<br />
        {{block type="blugento_localizer/imprint_field" value="street"}}<br />
        {{block type="blugento_localizer/imprint_field" value="zip"}} {{block type="blugento_localizer/imprint_field" value="city"}}
    </strong>
</p>
<p>
    per Fax an: <strong>{{block type="blugento_localizer/imprint_field" value="fax"}}</strong><br />
    oder per E-Mail an: <strong>{{block type="blugento_localizer/imprint_field" value="email"}}</strong>
</p>
<p>
    Hiermit widerrufe(n) ich/wir<sup>*</sup> den von mir/uns<sup>*</sup> abgeschlossenen Vertrag über den Kauf der folgenden Waren<sup>*</sup> / die Erbringung der folgenden Dienstleistung<sup>*</sup>
</p>
<hr />
<hr />
<hr />
<p>Bestellt am<sup>*</sup>/ erhalten am<sup>*</sup></p>
<hr />
<p>Name des/der Verbraucher(s)</p>
<hr />
<p>Anschrift des/der Verbraucher(s)</p>
<hr />
<p>Unterschrift des/der Verbraucher(s) <em>(nur bei Mitteilung auf Papier)</em></p>
<hr />
<p>Datum</p>
<p><sup>*</sup> Unzutreffendes streichen.</p>
